{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - Import/Export';

            new ImportInventory($('#import_form_container'));

            new ExportInventory($('#export_form_container'))

        })
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div id="import_form_container" class="col-md-12"></div>
        <div class="col-md-12"><hr></div>
        <div id="export_form_container" class="col-md-12"></div>
    </div>
{% endblock %}