{% extends 'main/main.html' %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'inventory/import_export.js' %}"></script>
    <div class="row">
        <div class="col-md-12"><h4>Import from:</h4></div>
        <form id="import_form">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="import_file_type" value="csv" checked>CSV file</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="import_file_type" value="json">JSON file</label>
                    </div>
                    <div class="radio" disabled>
                        <label><input type="radio" name="import_file_type" value="zip" disabled>Ansible inventory</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="import_file" class="requiredField">Select file</label>
                    <input class="input-file" type="file" id="import_file">
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-default btn-xs">Import</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12"><h4>Export to:</h4></div>
        <form id="export_form">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="export_file_type" value="json" checked>JSON file
                        </label>
                    </div>
                    <div class="radio" disabled>
                        <label>
                            <input type="radio" name="export_file_type" value="zip" disabled>Ansible inventory
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-default btn-xs">Export</button>
            </div>
        </form>
    </div>
{% endblock %}