{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - {{ node_name }}';

            $.ajax({
                url: paths.inventoryApi + '{{ node_type }}/get/?name={{ node_name }}',
                dataType: 'json',
                success: function (data) {
                    if (data.result === 'ok') new Node(data.node, $('#node_container'))
                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div id="node_container"></div>
{% endblock %}