{% extends 'main/main.html' %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/classes/NodeDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ansible_runner.js' %}"></script>
    <script type="text/javascript" src="{% static 'inventory/node_details.js' %}"></script>
    <h3>
        <small><span id="header_node_type">{{ node.type }}</span></small>
        <span id="header_node_name">{{ node.name }}</span>
    </h3>
    <ul id="{{ node.type }}_{{ node.id }}_tabs" class="nav nav-tabs node_tabs">
        <li class="active"><a data-toggle="tab" href="#info_tab">Info</a></li>
        <li><a data-toggle="tab" href="#relationships_tab">Relationships</a></li>
        <li><a data-toggle="tab" href="#variables_tab">Variables</a></li>
        <li><a data-toggle="tab" href="#adhoc_tab">Ad-Hoc</a></li>
    </ul>
    <br>
    <div class="tab-content">
        <div id="info_tab" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-12">
                    <h4 id="node_description_header" style="margin-bottom: 30px">{{ node.description }}</h4>
                    <button id="edit_node" class="btn btn-default btn-xs" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button id="delete_node" class="btn btn-default btn-xs" title="Remove">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <hr>
                    {% if node.type == 'host' %}
                        <h4>Host information</h4>
                        <div id="facts_container"></div>
                        <br>
                        <div>
                            <button class="btn btn-default btn-xs" id="open_facts" type="button" data-toggle="collapse"
                                    data-target="#all_facts_container" aria-controls="all_facts_container"
                                    aria-expanded="false" style="display: none">View facts</button>
                            <button class="btn btn-default btn-xs" id="gather_facts">Gather facts</button>
                        </div>
                        <br>
                        <div class="collapse" id="all_facts_container"></div>
                    {% elif node.type == 'group' %}
                        <h4>Descendants</h4>
                        <div id="descendants_container" style="margin: 10px"></div>
                        <div><button class="btn btn-default btn-xs" id="gather_facts">Gather facts</button></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="relationships_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    {% for relation in node.relations %}
                        <div class="relation_div" data-relation="{{ relation }}"></div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="variables_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <h4 id="var_form_label">Add variable</h4>
                    <form id="variable_form" class="form-inline" method="post">
                        <input type="hidden" id="variable_id" value="{{ variable_id }}">
                        <div class="form-group">
                            <label for="key" class="sr-only requiredField">Key</label>
                            <input class="textinput form-control input-sm"
                                   placeholder="Key" id="key" type="text" style="width: 200px">
                        </div>
                        <div class="form-group">
                            <label for="value" class="sr-only requiredField">Value</label>
                            <input class="textinput form-control input-sm"
                                   id="value" placeholder="Value" type="text" style="width: 400px">
                        </div>
                        <button type="submit" id="save_variable" class="btn btn-default btn-sm">Save</button>
                        <button type="submit" id="cancel_var_edit" class="btn btn-default btn-sm"
                                style="display: none">Cancel</button>
                        <span class="pull-right">
                            <button type="submit" id="copy_variables" class="btn btn-default btn-sm" title="Copy from node">
                                <span class="glyphicon glyphicon-duplicate"></span>
                            </button>
                        </span>
                    </form>
                    <br>
                    <h4>Variables</h4>
                    <table id="variable_table" class="table table-condensed table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-3">key</th>
                            <th class="col-md-7">value</th>
                            <th class="col-md-2">source</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="adhoc_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    {% include 'runner/adhoc_form.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}