{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - {{ node_name }}';

            $.ajax({
                url: inventoryApiPath + '{{ node_type }}/{{ node_name }}/info/',
                dataType: 'json',
                success: function (data) {
                    if (data.result == 'ok') new Node(data.node, $('#node_container'))
                }
            });


{#            var nodeName = '{{ node.name }}';#}
{#            var nodeType = '{{ node.type }}';#}
{#            var nodeDescription = '{{ node.description }}';#}
{#            var nodeDescriptionHeader = $('#node_description_header');#}
{##}
{##}
{##}
{#            if (nodeDescription) nodeDescriptionHeader.html(nodeDescription);#}
{#            else nodeDescriptionHeader.html($('<small>').html('<i>No description available</i>'));#}

{#            // Format page to 'all' group#}
{#            if (nodeName == 'all') {#}
{#                $('.node_tabs').remove();#}
{#                $('#info_tab').removeClass('in active');#}
{#                $('#variables_tab').addClass('in active')#}
{#            }#}
{#            else rememberSelectedTab($('ul.node_tabs').attr('id'));#}

{#            if (nodeType == 'group') var descendants = new Descendants(nodeName, $('#node_info_container'));#}
{#            else new HostFacts(nodeName, $('#node_info_container'));#}
{##}
{#            var variableTable = new VariableTable(nodeName, nodeType, $('#variable_table_container'));#}

{#            new Relationships(nodeName, nodeType, alterRelationCallback, $('#relationships_container'));#}
{##}
{#            new VariableForm({id: null}, 'add', nodeName, nodeType, saveVariableCallback, $('#variable_form_container'));#}
{##}
{#            new AdHocTaskForm(nodeName, 'command', {id: null}, $('#command_form_container'));#}
{##}
{#            new AdHohTaskTable(nodeName, $('#adhoc_table_container'));#}

{#            // Edit node#}
{#            $('#edit_node').click(function() {#}
{#                new NodeDialog('edit', nodeName, nodeDescription, nodeType, function (data) {#}
{#                    window.open('/inventory/' + nodeType + '/' + data.name, '_self')#}
{#                });#}
{#            });#}
{##}
{#            // Delete node#}
{#            $('#delete_node').click(function() {#}
{#                new DeleteDialog(function () {#}
{#                    submitRequest('POST', {action: 'delete'}, function() {#}
{#                        window.open('/inventory/' + nodeType + 's', '_self')#}
{#                    });#}
{#                })#}
{#            });#}

{#            function saveVariableCallback() {#}
{#                variableTable.reloadTable()#}
{#            }#}
{##}
{#            function alterRelationCallback() {#}
{#                variableTable.reloadTable();#}
{#                if (typeof descendants !== 'undefined') descendants.reload()#}
{#            }#}
        });
    </script>
{% endblock %}
{% block content %}
    <div id="node_container"></div>

{#    <h3><small>{{ node.type }}</small>&nbsp;{{ node.name }}</h3>#}
{#    <ul id="{{ node.type }}_{{ node.id }}_tabs" class="nav nav-tabs node_tabs">#}
{#        <li class="active"><a data-toggle="tab" href="#info_tab">Info</a></li>#}
{#        <li><a data-toggle="tab" href="#relationships_tab">Relationships</a></li>#}
{#        <li><a data-toggle="tab" href="#variables_tab">Variables</a></li>#}
{#        <li><a data-toggle="tab" href="#adhoc_tab">Ad-Hoc</a></li>#}
{#    </ul>#}
{#    <br>#}
{#    <div class="tab-content">#}
{#        <div id="info_tab" class="tab-pane fade in active">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <h4 id="node_description_header" style="margin-bottom: 30px">{{ node.description }}</h4>#}
{#                    <button id="edit_node" class="btn btn-default btn-xs" title="Edit">#}
{#                        <span class="glyphicon glyphicon-edit"></span>#}
{#                    </button>#}
{#                    <button id="delete_node" class="btn btn-default btn-xs" title="Remove">#}
{#                        <span class="glyphicon glyphicon-trash"></span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="col-md-12"><hr></div>#}
{#                <div id="node_info_container" class="col-md-12"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="relationships_tab" class="tab-pane fade">#}
{#            <div class="row">#}
{#                <div id="relationships_container" class="col-md-12"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="variables_tab" class="tab-pane fade">#}
{#            <div class="row">#}
{#                <div id="variable_form_container" class="col-md-12"></div>#}
{#                <div class="col-md-12"><br></div>#}
{#                <div id="variable_table_container" class="col-md-12"></div>#}
{#            </div>#}
{#        </div>#}
{#        <div id="adhoc_tab" class="tab-pane fade">#}
{#            <div class="row">#}
{#                <div id="command_form_container" class="col-md-12"></div>#}
{#                <div class="col-md-12"><hr></div>#}
{#                <div id="adhoc_table_container" class="col-md-12"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}