{% extends 'main/main.html' %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/node_dialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ansible_runner.js' %}"></script>
    <script type="text/javascript" src="{% static 'inventory/nodes.js' %}"></script>
    <input id="node_type" type="hidden" value="{{ node_type }}">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ node_type_plural|capfirst }}</h3>
        </div>
        <div class="col-md-12">
            <ul id="select_{{ node_type }}_tabs" class="nav nav-tabs select_tabs">
                <li class="active">
                    <a data-toggle="tab" href="#list_tab"><span class="glyphicon glyphicon-th"></span></a>
                </li>
                <li>
                    <a data-toggle="tab" href="#node_table_tab"><span class="glyphicon glyphicon-list"></span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="list_tab" class="tab-pane fade in active">
                    <br>
                    <div id="node_list"></div>
                    <div style="margin-top: 20px">
                        <button id="delete_mode" class="btn btn-default btn-xs">Delete mode</button>
                        <span id="delete_button" style="float: right; display: none;">
                            <button id="delete_nodes" class="btn btn-default btn-xs">Delete</button>
                        </span>
                    </div>
                </div>
                <div id="node_table_tab" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="node_table" class="table table-condensed table-hover table-striped">
                                <thead>
                                <tr id="node_table_header"></tr>
                                </thead>
                            </table>
                        </div>
                        {% if node_type == 'host' %}
                            <div class="col-md-12" style="margin-top: 20px">
                                <button id="update_facts" class="btn btn-default btn-xs">Update facts</button>
                                <button id="download_table" class="btn btn-default btn-xs">Download</button>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}