{% load staticfiles %}
<script src="{% static 'main/dialogs.js' %}"></script>
<div class="hidden">
    <div id="delete_dialog" class="text-center"><strong>This action cannot be undone</strong></div>
    <div id="alert_dialog"></div>
    <div id="select_dialog"></div>
    <div id="node_dialog">
        <h5 id="node_dialog_header"></h5>
        <form id="node_form" method="post">
            <div class="form-group">
                <label for="node_name" class="requiredField">Name</label>
                <input class="form-control input-sm" id="node_name" type="text">
            </div>
            <div class="form-group">
                <label for="node_description" class="requiredField">Description</label>
                <textarea class="textarea form-control input-sm" id="node_description"></textarea>
            </div>
        </form>
    </div>
    <div id="json_dialog">
        <pre id="json_box"></pre>
    </div>
    <div id="node_type_dialog" class="text-center">
        <h5></h5>
        <br>
        <button class="btn btn-default btn-sm select_type" data-type="host">Hosts</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-default btn-sm select_type" data-type="group">Groups</button>
    </div>
    <div id="password_dialog" style="margin: 20px">
        <label for="user_password" class="user_pass_group">Password for user <i id="exec_user"></i></label>
        <input class="form-control input-sm user_pass_group" id="user_password" type="password">
        <br class="user_pass_group">
        <label for="sudo_password" class="sudo_pass_group">Sudo password
            <span class="user_pass_group">(defaults to user)</span>
        </label>
        <input class="form-control input-sm sudo_pass_group" id="sudo_password" type="password">
    </div>
    <div id="pattern_dialog" style="overflow-x: hidden">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    Pattern builder
                    <span style="float: right">
                    <a href="http://docs.ansible.com/ansible/intro_patterns.html" target="_blank">
                        <small style="color: #777">patterns reference</small>
                    </a>
                </span>
                </h5>
                <hr>
            </div>
            <div class="col-md-2">Select:</div>
            <div class="col-md-2">
                <button class="btn btn-default btn-xs select_nodes" data-type="group" data-op="sel">Groups</button>
            </div>
            <div class="col-md-8">
                <button class="btn btn-default btn-xs select_nodes" data-type="host" data-op="sel">Hosts</button>
            </div>
            <div class="col-md-2">and:</div>
            <div class="col-md-2">
                <button class="btn btn-default btn-xs select_nodes" data-type="group" data-op="and">Groups</button>
            </div>
            <div class="col-md-8">
                <button class="btn btn-default btn-xs select_nodes" data-type="host" data-op="and">Hosts</button>
            </div>
            <div class="col-md-2">exclude:</div>
            <div class="col-md-2">
                <button class="btn btn-default btn-xs select_nodes" data-type="group" data-op="exc">Groups</button>
            </div>
            <div class="col-md-8">
                <button class="btn btn-default btn-xs select_nodes" data-type="host" data-op="exc">Hosts</button>
            </div>
        </div>
        <br>
        <pre id="pattern_container" class="text-left hidden"></pre>
    </div>
{#    <div id="editor_dialog">#}
{#        <div class="col-md-4 editor_column">#}
{#            <label for="filename" class="requiredField sr-only">Filename</label>#}
{#            <input class="form-control input-sm" id="filename" type="text">#}
{#        </div>#}
{#        <div class="col-md-6 editor_column text-right">#}
{#            <button id="reload_file" class="btn btn-default btn-sm">Reload</button>#}
{#        </div>#}
{#        <div class="col-md-2 editor_column">#}
{#            <label for="ace_mode" class="requiredField sr-only">Ace mode</label>#}
{#            <select class="select form-control input-sm" id="ace_mode">#}
{#                <option value="" disabled="" selected="" hidden=""></option>#}
{#                <option value="apache_conf">Apache Conf</option>#}
{#                <option value="batchfile">BatchFile</option>#}
{#                <option value="css">CSS</option>#}
{#                <option value="dockerfile">Dockerfile</option>#}
{#                <option value="gitignore">Gitignore</option>#}
{#                <option value="ini">INI</option>#}
{#                <option value="java">Java</option>#}
{#                <option value="javascript">JavaScript</option>#}
{#                <option value="json">JSON</option>#}
{#                <option value="php">PHP</option>#}
{#                <option value="powershell">Powershell</option>#}
{#                <option value="properties">Properties</option>#}
{#                <option value="python">Python</option>#}
{#                <option value="sh">SH</option>#}
{#                <option value="sql">SQL</option>#}
{#                <option value="text">Text</option>#}
{#                <option value="vbscript">VBScript</option>#}
{#                <option value="xml">XML</option>#}
{#                <option value="yaml">YAML</option>#}
{#            </select>#}
{#        </div>#}
{##}
{#        <div class="col-md-12 editor_column">#}
{#            <div id="text_editor" style="border: solid 1px lightgrey"></div>#}
{#        </div>#}
{#    </div>#}


</div>
