<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.2/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dynamiclist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/battuta.css' %}"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.2/js/fileinput.min.js"></script>
    <script type="text/javascript" src="{% static 'timezones/timezones.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dynamiclist.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/battuta.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal_dialogs.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/main.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Battuta</title>
</head>
<body>
{% block header %}
    <header class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'main' %}">Battuta</a></div>
            {% if user.is_authenticated %}
                <input id="is_authenticated" type="hidden" value="true">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'inventory:nodes' 'hosts' %}">Hosts</a></li>
                            <li><a href="{% url 'inventory:nodes' 'groups' %}">Groups</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'inventory:import_export' %}">Import/Export</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runner</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'runner:adhoc' %}">Ad-Hoc</a></li>
                            <li><a href="{% url 'runner:playbooks' %}">Playbooks</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'runner:history' %}">History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File manager</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'fileman:files' %}">Files</a></li>
                            <li><a href="{% url 'fileman:roles' %}">Roles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                                <li><a href="{% url 'users:new' %}">New user</a></li>
                                <li><a href="{% url 'users:list' %}">List users</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'users:view' %}?user_id={{ user.id }}">User profile</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'preferences:preferences' %}" data-toggle="tooltip" title="Preferences">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <form id="search_form" class="navbar-form">
                            <div class="input-group">
                                <input type="text" title="Search" id="searchbox"
                                       class="form-control input-sm" name="search_pattern">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <form id="login_form" class="navbar-form">
                            <button type="submit" id="user_login" title="Logout" class="btn btn-link">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form id="login_form" class="navbar-form">
                            <div class="form-group">
                                <label for="login_username" class="sr-only requiredField">Username</label>
                                <input class="textinput textInput form-control input-sm"
                                       id="login_username" placeholder="Username" type="text">
                            </div>
                            <div class="form-group">
                                <label for="login_password" class="sr-only requiredField">Password</label>
                                <input class="textinput textInput form-control input-sm"
                                       id="login_password" placeholder="Password" type="password">
                            </div>
                            <button type="submit" id="user_login" title="Login" class="btn btn-link">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
    </header>
{% endblock %}
<section class="container">
    <div class="row">
        <div class="col-md-12 main">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</footer>
</body>
</html>
