<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:400|Actor">

    <link rel="stylesheet" type="text/css" href="{% static 'components/jquery-ui/themes/base/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-fileinput/css/fileinput.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/jquery-jsonview/dist/jquery.jsonview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/font-awesome/css/font-awesome.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dynamiclist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bootstrap-growl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/battuta.css' %}"/>

    <script type="text/javascript" src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons/js/buttons.html5.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery-jsonview/dist/jquery.jsonview.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/js-yaml/dist/js-yaml.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/timezones/dist/timezones.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/ace-builds/src-min/ace.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/jquery.bootstrap-growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dynamiclist.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/battuta.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AdHocTaskForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AdHocTaskTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AnsibleRunner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/CopyVariables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Credentials.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/DeleteDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Descendants.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/ExportInventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/FileDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/FileTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/HostFacts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/ImportInventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/MainMenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Node.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/NodeDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Nodes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/NodeTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/NodeGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/PatternBuilder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/PlaybookForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Preferences.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Relationships.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/RoleDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/RunnerHistoryTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/JobResults.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/SearchResults.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/SelectNodesDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Statistics.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/TextEditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/UploadDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/UserTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/UserForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/VariableForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/VariableTable.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            new MainMenu('{{ user.username }}', '{% if user.is_authenticated %}True{% endif %}', '{{ user.is_superuser }}', $('#menu_container'))

        })
    </script>
    {% block scripts %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Battuta</title>
</head>
<body>
{% block header %}
    <header class="navbar navbar-default">
        <div id="menu_container" class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/">Battuta</a></div>
        </div>
    </header>
{% endblock %}
<section class="container">
    <div class="row">
        <div class="col-md-12 main">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</footer>
</body>
</html>
