ansible==2.3.0.0
appdirs==1.4.3
apt-xapian-index==0.45
asn1crypto==0.22.0
cffi==1.10.0
chardet==3.0.2
Cheetah==2.4.4
click==6.7
cloud-init==0.7.5
configobj==5.0.6
cryptography==1.8.1
Django==1.11
ecdsa==0.13
enum34==1.1.6
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
Jinja2==2.9.6
jsonpatch==1.15
jsonpointer==1.10
keyring==10.3.2
Landscape-Client==14.12
launchpadlib==1.10.5
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
Markdown==2.6.8
MarkupSafe==1.0
meld3==1.0.2
MySQL-python==1.2.5
oauth==1.0.1
packaging==16.8
PAM==0.4.2
paramiko==2.1.2
pbr==2.1.0
prettytable==0.7.2
psutil==5.2.2
pyasn1==0.2.3
pycparser==2.17
pycrypto==2.6.1
pycurl==7.19.3
pygobject==3.12.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyserial==3.3
python-apt===0.9.3.5ubuntu2
python-debian==0.1.28
python-magic==0.4.13
pytz==2017.2
PyYAML==3.12
requests==2.13.0
SecretStorage==2.3.1
simplejson==3.10.0
six==1.10.0
ssh-import-id==5.6
testresources==2.0.1
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
urllib3==1.20
wadllib==1.3.2
zope.interface==4.3.3
