{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: paths.projectsApi + 'project/get/?id={{ project_id }}',
                dataType: 'json',
                success: function (data) {

                    document.title = 'Battuta - ' + data.project.name;

                    if (data.result === 'ok') new Project(data.project, $('#project_form_container'))

                }
            });

        });
    </script>
{% endblock %}
{% block content %}
    <div id="project_form_container"></div>
{% endblock %}