{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            if ('{{ project_id }}') {

                $.ajax({
                    url: paths.projectsApi + 'project/get/?id={{ project_id }}',
                    dataType: 'json',
                    success: function (data) {

                        document.title = 'Battuta - ' + data.project.name;

                        if (data.result === 'ok') new ProjectForm(data.project, $('#project_form_container'))

                    }
                });

            }

            else {

                document.title = 'Battuta - New project';

                var emptyProject = {
                    id: null,
                    manager: {},
                    host_group: {},
                    inventory_admins: {},
                    runner_admins: {},
                    execute_jobs: {},
                    roles: '[]'
                };

                new ProjectForm(emptyProject, $('#project_form_container'))

            }

        });
    </script>
{% endblock %}
{% block content %}
    <div id="project_form_container"></div>
{% endblock %}