{% extends 'main/main.html' %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - {{ group_name }}';

            $.ajax({
                url: paths.usersApi + 'group/get/?name={{ group_name }}',
                dataType: 'json',
                success: function (data) {

                    if (data.result === 'ok') new UserGroup(data.group, $('#group_form_container'))

                }

            });

        });
    </script>
{% endblock %}
{% block content %}
    <div id="group_form_container"></div>
{% endblock %}