{% load staticfiles %}
<script src="{% static 'users/user_form.js' %}"></script>
<div class="row">
    <div class="col-md-6">
        <form id="user_form" method="post">
            <input id="user_id" type="hidden" value="{{ view_user.id }}">
            <input id="user_timezone" type="hidden" value="{{ view_user.userdata.timezone }}">
            {% if page == 'new' %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username" class="requiredField">Username</label>
                            <input class="form-control input-sm" id="username" type="text">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first_name" class="requiredField">First name</label>
                        <input class="form-control input-sm" id="first_name" type="text" value="{{ view_user.first_name }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="last_name" class="requiredField">Last name</label>
                        <input class="form-control input-sm" id="last_name" type="text" value="{{ view_user.last_name }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="requiredField">E-mail</label>
                        <input class=" form-control input-sm" id="email" type="text" value="{{ view_user.email }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="timezones" class="requiredField">Timezone</label>
                        <select class="select form-control input-sm" id="timezones"></select>
                    </div>
                </div>
                {% if page == 'new' %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add_password1" class="requiredField">New password</label>
                            <input class="form-control input-sm" id="add_password1" type="password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add_password2" class="requiredField">Retype new password</label>
                            <input class="form-control input-sm" id="add_password2" type="password">
                        </div>
                    </div>
                {% endif %}

                <div class="col-md-12">
                    <button type="submit" class="btn btn-default btn-xs">Save</button>
                    {% if page == 'view' and user.id == view_user.id or page == 'view' and user.is_superuser %}
                        <button id="open_cred_dialog" class="btn btn-default btn-xs">Edit credentials</button>
                    {% endif %}
                </div>
            </div>
        </form>
        {% if page == 'view' and user.id == view_user.id or page == 'view' and user.is_superuser %}
            <form id="password_form" method="POST">
                <div class="row">
                    <div class="col-md-12"><hr></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="current_password" class="requiredField">Current password ({{ request.user }})</label>
                            <input class="form-control input-sm" id="current_password" type="password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new_password1" class="requiredField">New password</label>
                            <input class="form-control input-sm" id="new_password1" type="password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new_password2" class="requiredField">Retype new password</label>
                            <input class="form-control input-sm" id="new_password2" type="password">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default btn-xs">Change password</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <div class="row">
            <div class="col-md-12"><hr></div>
        </div>
    </div>
</div>
<div class="hidden">
    <div id="credential_dialog" style="overflow: hidden">
        <h5>Credentials</h5>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="credentials" class="requiredField" style="font-size: 13px; padding: 6px 0">
                    Saved credentials
                </label>
            </div>
            <div class="col-md-9">
                <select class="select form-control input-sm" id="credentials"></select>
            </div>
        </div>
        <br>
        <form id="credential_form" method="post">
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="cred_title" class="requiredField">Title</label>
                        <input class="form-control input-sm" id="cred_title" type="text">
                    </div>
                </div>
                <div class="col-md-2 text-right" style="margin-top: 22px">
                    <button id="cred_is_shared" class="btn btn-default btn-sm">Shared</button>
                </div>
                <div class="col-md-2 text-right" style="margin-top: 22px">
                    <button id="cred_is_default" class="btn btn-default btn-sm">Default</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cred_username" class="requiredField">Username</label>
                        <input class="form-control input-sm" id="cred_username" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cred_pass" class="requiredField">Password</label>
                        <input class="form-control input-sm" id="cred_pass" type="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="cred_rsakey" class="requiredField">RSA Key</label>
                        <input class="input-file" type="file" id="cred_rsakey">
                    </div>
                </div>
                <div class="col-md-2 text-right" style="margin-top: 22px">
                    <button id="remove_rsa" class="btn btn-default btn-sm">Remove</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cred_sudo_user" class="requiredField">SUDO Username</label>
                        <input class="form-control input-sm" id="cred_sudo_user" type="text">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cred_sudo_pass" class=" requiredField">SUDO Password</label>
                        <div class="input-group">
                            <input class="form-control input-sm" id="cred_sudo_pass" type="password">
                            <span class="input-group-btn">
                                <button id="ask_sudo_pass" class="btn btn-default btn-sm">Ask</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="save_cred" class="btn btn-default btn-xs">Save</button>
                    <button id="delete_cred" class="btn btn-default btn-xs hidden">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div id="confirm_changes_dialog" class="text-center" style="min-height: 74px; padding: 20px">
        <strong>You have unsaved changes<br>Save now?</strong>
    </div>
</div>
