{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script type="text/javascript" src="{% static 'js/text_editor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/file_dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/upload_dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'fileman/filetable.js' %}"></script>
<div class="row">
    <div class="col-md-6">
        <h5>Path: <i id="root_path">&lt;{{ root_folder }}&gt;</i>/<span id="dir_path"></span></h5>
    </div>
    <div class="col-md-6">
        <h5>
            <span style="float: right">
                <button id="create_file" class="btn btn-default btn-xs">Create</button>
                <button id="upload_file" class="btn btn-default btn-xs">Upload</button>
            </span>
        </h5>

    </div>
    <div class="col-md-12">
        <table id="file_table" class="result_table table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th class="col-md-6">Name</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-1">Size</th>
                <th class="col-md-2">Modified</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>