@font-face {
    font-family: Kanit;
    src: url(/static/components/kanit-googlefont/Kanit-Regular.ttf)
}

@font-face {
    font-family: Actor;
    src: url(/static/components/actor-googlefont/Actor-Regular.ttf)
}


body {font-size: small}

header {font-size: 14px; border-radius: 0 !important; margin-bottom: 10px !important;}

footer {height: 25px}

label {font-weight: 400; width: 100%}

h5 {font-size: 11pt; color: #525252}

th, h4 {color: #525252}

textarea {resize: vertical}

a, label, .fa {color: #777}

.btn:focus, .btn:active {outline: none !important;}

.btn:focus {background-color: transparent}

a:focus, a:hover, button:focus {outline: none; text-decoration: none}

span.badge {background-color: #cacaca}

a.label_link2 {float: right; font-size: x-small}

.label-link {font-size: x-small}

.input[type="checkbox"] {margin: 10px 0 0 5px}

.chkbox_label {padding: 5px 20px 5px 5px; vertical-align: middle}

.report_field_left {padding: 0 0 0 15px}

.report_field_right {padding: 0 15px 0 5px}

.jsonview li {margin: 3px 0 3px 0}

.well {word-break: break-all; margin-bottom: 0}

.runner_error_box {margin-top: 20px; color: red; font-size: 12px}

.reference_link_container, .sudo_alert {margin: auto; text-align: right; font-size: x-small}

.navbar-brand * {margin-right: 1rem;}

#view_header .entity_grid, .descendants_grid {margin-bottom: 2rem}

.play_container_template, .task_table_container, #adhoc_table_container,
#stats_table_container, #facts_buttons_container, #info_container {margin-top: 2rem}

pre.text-danger {margin-top: 2rem; white-space: pre-wrap;}

#job_container {margin-top: 60px}

#playbook_args_container {margin-top: 1rem}

#preferences_container, #entity_grid_container, #facts_container, .permissions_container {overflow-y: auto; overflow-x: hidden}

.preference_item_row {margin-bottom: .1rem}

/* Adhoc dialog **********************/
#module_arguments_container {height: 30rem; overflow-x: hidden; margin-top: 1rem;}


/* File manager path container *******/

#path_links.breadcrumb {margin-bottom: 0; line-height: 2rem}

li.path_link, #root_path, #edit_path {cursor: pointer}

#root_path {font-weight: bold; font-style: italic;}

#edit_path::before {content: none}

#edit_path {padding: 0 .5rem; border-radius: .5rem; float: right}

#path_input {border: none; padding: 0}


/* Navbar options ********************/

header.navbar .dropdown-menu {font-size: small}

button.menu-btn {border-radius: .5rem}

/* JQuery UI options *****************/

.ui-dialog-titlebar-close, .no_title .ui-dialog-titlebar  {display: none}

.ui-button-text {padding: 1px 1px; font-size: 12px; line-height: 1.5; border-radius: 3px}

.ui-widget button {font-size: 12px}

.ui-dialog {box-shadow: 0 0 20px #888888; border-radius: 5px; position: fixed}

.ui-widget-overlay {background: white; opacity: 0}

ul.ui-autocomplete {z-index: 999; max-height: 300px; overflow-y: auto; overflow-x: hidden}

.ui-widget-content {border: none}


/* DataTables options ****************/

.table.dataTable { table-layout: fixed; border-bottom: 2px solid lightgrey}

.table.dataTable tbody > tr > td {
    vertical-align: middle;
    border-top: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dataTables_filter {
    float: right;
    text-align: right;
}

.pagination > li > a, .pagination > li > span {padding: 2px 6px}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: lightgrey;
    border-color: lightgrey;
}

.pagination > li > a, div.dataTables_length, div.dataTables_filter, div.dataTables_info {color: #777}

div.dataTables_length select.input-sm, div.dataTables_filter input.input-sm {height: 25px}

div.dataTables_length, div.dataTables_filter {height: 25px}

/*table.dataTable thead .sorting:after,*/
/*table.dataTable thead .sorting_asc:after,*/
/*table.dataTable thead .sorting_desc:after {font-family: "Font Awesome 5 Solid", sans-serif}*/

/*table.dataTable thead th.sorting:after {content: "\f0dc"; color: transparent}*/

/*table.dataTable thead th.sorting_asc:after {content: "\f0de"}*/

/*table.dataTable thead th.sorting_desc:after {content: "\f0dd"}*/

tr.child_row {background-color: transparent !important}

.btn-incell {margin: 0 .25rem; cursor: pointer}


/* Checked button class options */
.checked_button, .checked_button:focus, .checked_button:hover {background-color: #cdcdcd}

/* Truncate text larger than container */
.truncate-text {text-overflow: ellipsis; white-space: nowrap; overflow: hidden}

/* Make all cell within row of equal height */
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex}

/* Elements using Kanit font */
h3, h4, h5, label, th, small, ul.nav a, ul.pagination a, .chkbox_label, .reference_link_container,
.navbar, .report_field_left, .dataTables_info, #runner_status {font-family: "Kanit", sans-serif}

/* Elements using Actor font */
a.btn, button.btn, span.ui-button-text {font-family: "Actor", sans-serif;}

/* Elements using Helvetica font */
input, select, div.dynamic-item, div.report_field_right, div.form_group input, .ui-widget input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Settings for small dialogs */
.small_dialog {padding: 20px !important;}

/* Settings for large dialogs */
.large_dialog {overflow-x: hidden !important;}

/**/
pre.large-alert {font-weight: lighter; background-color: transparent; border-color: transparent}
div.large-alert {font-weight: lighter; text-align: left; margin: 10px}
