<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4>AdHoc task <small>[<span data-bind="id">new</span>]</small></h4>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>
                    <span>Hosts</span>
                    <span id="pattern_field_label"></span>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Module</span>
                    <select id="module_selector" class="select form-control input-sm"></select>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div id="module_arguments_container"></div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4">
            <label id="credentials_selector_label">Credentials</label>
        </div>
        <div class="col-md-8 reference_link_container">
            <a id="module_reference_anchor" target="_blank">module reference</a>
        </div>
    </div>
</div>