<div id="adhoc_dialog" class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4 data-bind="title"></h4>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>
                    Hosts
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    Module
                    <select id="module_selector" class="select form-control input-sm"></select>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div id="module_fields_container"></div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4">
            <label id="credentials_selector_Label">
                Credentials
                <select class="select form-control input-sm"></select>
            </label>
        </div>
        <div class="col-md-8 reference_link_container">
            <a target="_blank">module reference</a>
        </div>
    </div>
</div>