<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4>Export config</h4>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    <span>User</span>
                    <input data-bind="config.user" class="form-control input-sm" type="text">
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    <span>Password</span>
                    <input data-bind="config.pass" class="form-control input-sm" type="text">
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <span>Public key</span>
                    <input data-bind="config.public_key" class="form-control input-sm" type="text">
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    <span>Public key user</span>
                    <input data-bind="config.key_user" class="form-control input-sm" type="text">
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    <span>Public key password</span>
                    <input data-bind="config.key_pass" class="form-control input-sm" type="text">
                </label>
            </div>
        </div>
    </div>
</div>