<div class="row">
    <div class="col-md-12">
        <h3>
            <small data-bind="type"></small>&nbsp;<span data-bind="name"></span>
            <small style="margin-left: 1rem;">
                <span id="edit_button" class="fa fa-fw fa-pencil btn-incell" title="Edit"></span>
                <span id="delete_button" class="fa fa-fw fa-trash-o btn-incell" title="Delete"></span>
            </small>
        </h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#info_tab">Info</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="info_tab">
                <h4 style="margin-bottom: 30px;">
                    <span data-bind="description"></span>
                </h4>
                <div id="info_container"></div>
            </div>
        </div>
    </div>
</div>


