<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <label class="text-capitalize">
                <span data-bind="action"></span>
                <input data-bind="new_name" class="form-control input-sm" type="text" value="">
            </label>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button data-bind="is_folder" type="button" class="btn btn-default btn-sm btn-block">folder</button>
            </div>
        </div>
    </div>
</div>

