<div id="editor_dialog" class="large_dialog">
    <div class="row row-eq-height form-group">
        <div class="col-md-4">
            <label>File name<input data-bind="new_name" class="form-control input-sm" type="text"></label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label>Mode<select id="mode_selector" class="select form-control input-sm"></select></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 editor_column">
            <div id="editor_container" contenteditable="true" style="border: 1px solid lightgrey"></div>
        </div>
    </div>
</div>


