<div>
    <div class="row hide_when_empty">
        <div id="main_info_row" class="col-md-6">
            <div class="row">
                <div class="col-md-4 report_field_left">Full hostname:</div>
                <div data-bind="info.hostname" class="col-md-8 report_field_right truncate-text"></div>

                <div class="col-md-4 report_field_left">Processor:</div>
                <div data-bind="info.processor" class="col-md-8 report_field_right truncate-text"></div>

                <div class="col-md-4 report_field_left">Cores:</div>
                <div data-bind="info.cores" class="col-md-8 report_field_right truncate-text"></div>

                <div class="col-md-4 report_field_left">RAM Memory</div>
                <div data-bind="info.ram" class="col-md-8 report_field_right truncate-text"></div>

                <div class="col-md-4 report_field_left">System:</div>
                <div data-bind="info.system" class="col-md-8 report_field_right truncate-text"></div>

                <div class="col-md-4 report_field_left">OS:</div>
                <div data-bind="info.os" class="col-md-8 report_field_right truncate-text"></div>
            </div>
        </div>
        <div id="guest_info_row" class="col-md-6">
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 hostname:</div>
                <div data-bind="info.ec2_hostname" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 public address:</div>
                <div data-bind="info.public_address" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 instance type:</div>
                <div data-bind="info.instance_type" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 instance id:</div>
                <div data-bind="info.ec2_instance_id" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 avaliability zone:</div>
                <div data-bind="info.ec2_az" class="col-md-8 report_field_right truncate-text"></div>
            </div>
        </div>
        <div id="host_info_row" class="col-md-6">
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">System vendor:</div>
                <div data-bind="info.vendor" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Product name:</div>
                <div data-bind="info.product" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Product serial:</div>
                <div data-bind="info.serial" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Form factor:</div>
                <div data-bind="info.form_factor" class="col-md-8 report_field_right truncate-text"></div>
            </div>
        </div>
        <div class="col-md-12"><br></div>
    </div>
    <div class="row">
        <div class="col-md-10 hide_when_empty">
            <h5>Networking</h5>
            <table id="interface_table" class="table table-condensed table-hover table-striped"></table>
            <br>
            <h5>Storage</h5>
            <table id="storage_table" class="table table-condensed table-hover table-striped"></table>
            <br>
        </div>
        <div class="col-md-10">
            <div>
                    <span class="hide_when_empty">
            <button id="show_facts" class="btn btn-default btn-xs">Show facts</button>
        </span>
                <button id="gather_facts" class="btn btn-default btn-xs">Gather facts</button>
                <span class="hide_when_empty" style="float: right;">
            Facts gathered in
            <strong data-bind="info.factsDate"></strong>
        </span>
            </div>
            <br>
            <div id="facts_container" class="well hide_when_empty"></div>
        </div>
    </div>
</div>

