<div class="row">
    <div class="col-md-12">
        <h3>Jobs</h3>
        <ul id="job_tabs" class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#playbook_tab">Playbook</a>
            </li>
            <li>
                <a data-toggle="tab" href="#task_tab">Task</a>
            </li>
            <li>
                <a data-toggle="tab" href="#command_tab">Command</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="playbook_tab">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <input  title="Playbook" class="form-control input-sm" type="text" list="playbook_list">
                            <datalist id="playbook_list"></datalist>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="playbook_args"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="task_tab"></div>
            <div class="tab-pane" id="command_tab"></div>
            </div>
    </div>
</div>


