<div>
    <div id="job_container">
        <h4 class="visible-print-block">
            <strong data-bind="name"></strong>
        </h4>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">User:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="username"></strong>
                    </div>
                    <div class="col-md-3 col-xs-3 report_field_left">Run date:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong  data-bind="created_on"></strong>
                    </div>
                    <div class="col-md-3 col-xs-3 report_field_left">Hosts:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="subset"></strong>
                    </div>
                    <div class="col-md-3 col-xs-3 report_field_left">Become:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="become"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div id="result_container"></div>
        <div id="footer_anchor"></div>
    </div>
    <div id="play_container_template"></div>
</div>

