<div id="menu_container" class="container">
    <div class="navbar-header"><a class="navbar-brand" href="/">Battuta</a></div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form id="login_form" class="navbar-form">
                <input class="form-control input-sm" type="text" placeholder="Username" data-bind="username">
                <input class="form-control input-sm" type="password" placeholder="Password" data-bind="password">
                <button class="btn btn-link" title="Login">
                    <span class="fa fa-sign-in"></span>
                </button>
            </form>
        </li>
    </ul>
</div>