<div class="navbar-header">
    <a class="navbar-brand" href="/">Battuta</a>
</div>
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
        <ul class="dropdown-menu">
            <li>
                <a id="host_selector_anchor">Hosts</a>
                <a id="group_selector_anchor">Groups</a>
            </li>
            <li class="divider"></li>
            <li>
                <a id="manage_inventory_anchor">Manage inventory</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runner</a>
        <ul class="dropdown-menu">
            <li>
                <a id="adhoc_selector_anchor">Ad-Hoc</a>
                <a id="playbook_selector_anchor">Playbooks</a>
                <a id="role_selector_anchor">Roles</a>
            <li class="divider"></li>
            <li>
                <a id="job_selector_anchor">Job history</a>
            </li>
        </ul>
    </li>
    <li>
        <a id="file_selector_anchor">Files</a>
    </li>
    <li>
        <a id="project_selector_anchor">Projects</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
        <ul class="dropdown-menu">
            <li>
                <a id="user_selector_anchor">Users</a>
                <a id="user_group_selector_anchor">User groups</a>
            </li>
            <li class="divider"></li>
            <li>
                <a id="user_view_anchor"><span data-bind="username"></span> profile</a>
                <a id="user_file_anchor"><span data-bind="username"></span> files</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <button id="preferences_button" class="btn btn-link navbar-btn" style="border-radius: 5px;" title="Preferences">
            <span class="fa fa-fw fa-cog"></span>
        </button>
    </li>
    <li>
        <form id="menu_search_form" class="navbar-form">
            <div class="input-group">
                <input class="form-control input-sm" type="text" data-bind="pattern" title="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm">
                        <span class="fa fa-fw fa-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </li>
    <li>
        <form class="navbar-form">
            <button id="logout_button" class="btn btn-link" title="Logout">
                <span class="fa fa-fw fa-sign-out"></span>
            </button>
        </form>
    </li>
</ul>
