<div class="row">
    <div class="col-md-12">
        <h3>Manage inventory</h3>
        <ul id="manage_inventory_tabs" class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#import_tab">Import</a>
            </li>
            <li>
                <a data-toggle="tab" href="#export_tab">Export</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="import_tab">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Import from:</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="import_file_type" value="csv" checked>
                                    <span>CSV file</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="import_file_type" value="json">
                                    <span>JSON File</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="import_file_type" value="zip" disabled>
                                    <span>Ansible inventory</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <span id="upload_field_title">Select file</span>
                                <input id="upload_field" class="input-file" type="file">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button id="import_button" class="btn btn-default btn-xs" disabled>Import</button>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="export_tab">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Export to:</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="export_file_type" value="json" checked>
                                    <span>JSON file</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="export_file_type" value="zip">
                                    <span>Ansible inventory</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="export_file_type" value="pac">
                                    <span>PAC config</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="export_file_type" value="filezilla">
                                    <span>FileZilla config</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button id="export_button" class="btn btn-default btn-xs">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>