<div>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Battuta</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.node.host">Hosts</a>
                    <a data-bind="paths.selectors.node.group">Groups</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a id="manage_inventory_anchor">Manage inventory</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runner</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.runner">Jobs</a>
                    <a data-bind="paths.selectors.adhoc">Ad-Hoc</a>

                <li class="divider"></li>
                <li>
                    <a data-bind="paths.selectors.job">Job history</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Files</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.file">Files</a>
                    <a data-bind="paths.selectors.playbook">Playbooks</a>
                    <a data-bind="paths.selectors.role">Roles</a>
                </li>
            </ul>
        </li>
        <li>
            <a data-bind="paths.selectors.project">Projects</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.user">Users</a>
                    <a data-bind="paths.selectors.group">User groups</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a id="user_view_anchor"><span data-bind="username"></span> profile</a>
                    <a id="user_file_anchor"><span data-bind="username"></span> files</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button id="preferences_button" class="btn btn-link navbar-btn" style="border-radius: 5px;" title="Preferences">
                <span class="fa fa-fw fa-cog"></span>
            </button>
        </li>
        <li>
            <form id="menu_search_form" class="navbar-form">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" data-bind="pattern" title="Search">
                    <span class="input-group-btn">
                    <button class="btn btn-default btn-sm">
                        <span class="fa fa-fw fa-search"></span>
                    </button>
                </span>
                </div>
            </form>
        </li>
        <li>
            <form class="navbar-form">
                <button id="logout_button" class="btn btn-link" title="Logout">
                    <span class="fa fa-fw fa-sign-out"></span>
                </button>
            </form>
        </li>
    </ul>
</div>

