<div>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Battuta</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.node.host">Hosts</a>
                    <a data-bind="paths.selectors.node.group">Groups</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a id="manage_inventory_anchor">Manage inventory</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runner</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.runner">Runner</a>
                    <a data-bind="paths.selectors.job">History</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Files</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.file">Files</a>
                    <a data-bind="paths.selectors.playbook">Playbooks</a>
                    <a data-bind="paths.selectors.role">Roles</a>
                    <a data-bind="paths.selectors.userFiles">User</a>
                </li>
            </ul>
        </li>
        <li>
            <a data-bind="paths.selectors.project">Projects</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
            <ul class="dropdown-menu">
                <li>
                    <a data-bind="paths.selectors.user">Users</a>
                    <a data-bind="paths.selectors.group">Groups</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form id="menu_search_form" class="navbar-form">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" data-bind="pattern" title="Search">
                    <span class="input-group-btn">
                    <button class="btn btn-default btn-sm">
                        <span class="fa fa-fw fa-search"></span>
                    </button>
                </span>
                </div>
            </form>
        </li>
        <li>
            <button id="preferences_button" class="btn btn-link navbar-btn" style="border-radius: 5px;" title="Preferences">
                <span class="fa fa-fw fa-cog"></span>
            </button>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span id="user_icon" class="fa fa-fw fa-user"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a id="user_view_anchor">Profile</a>
                    <a id="logout_anchor" href="#">Logout</a>
                </li>
            </ul>
        </li>

    </ul>
</div>

