<div class="large_dialog">
    <div class="row row-eq-height" style="margin-bottom: 15px;">
        <div class="col-md-6">
            <h4>Pattern builder</h4>
        </div>
        <div class="col-md-6 reference_link_container">
            <a href="http://docs.ansible.com/ansible/intro_patterns.html" target="_blank">patterns reference</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="form-inline text-center">
                <label>select</label>
                <button class="btn btn-default btn-xs" data-action="select" data-type="group">Groups</button>
                <button class="btn btn-default btn-xs" data-action="select" data-type="host">Hosts</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline text-center">
                <label>and</label>
                <button class="btn btn-default btn-xs" data-action="and" data-type="group">Groups</button>
                <button class="btn btn-default btn-xs" data-action="and" data-type="host">Hosts</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-inline text-center">
                <label>except</label>
                <button class="btn btn-default btn-xs" data-action="exclude" data-type="group">Groups</button>
                <button class="btn btn-default btn-xs" data-action="exclude" data-type="host">Hosts</button>
            </div>
        </div>
    </div>
    <br><br>
    <pre id="pattern_preview" class="text-left"></pre>
</div>
