<div class="row row-eq-height" style="margin-bottom: 15px;">
    <div class="col-md-6"><h4>Pattern builder</h4></div>
    <div class="col-md-6 text-right" style="margin: auto;">
        <a href="http://docs.ansible.com/ansible/intro_patterns.html" target="_blank">
            <small>patterns reference</small>
        </a>
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="col-md-2">Select:</div>
    <div class="col-md-2">
        <button class="btn btn-default btn-xs" data-action="select" data-type="group">Groups</button>
    </div>
    <div class="col-md-8">
        <button class="btn btn-default btn-xs" data-action="select" data-type="host">Hosts</button>
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="col-md-2">and:</div>
    <div class="col-md-2">
        <button class="btn btn-default btn-xs" data-action="and" data-type="group">Groups</button>
    </div>
    <div class="col-md-8">
        <button class="btn btn-default btn-xs" data-action="and" data-type="host">Hosts</button>
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="col-md-2">exclude:</div>
    <div class="col-md-2">
        <button class="btn btn-default btn-xs" data-action="exclude" data-type="group">Groups</button>
    </div>
    <div class="col-md-8">
        <button class="btn btn-default btn-xs" data-action="exclude" data-type="host">Hosts</button>
    </div>
</div>
<br>
<pre class="text-left" data-bind="pattern"></pre>