<div id="play_header_container" class="row">
    <div class="col-md-12">
        <h4></h4>
    </div>
    <div class="col-md-4 col-xs-6">
        <div class="row">
            <div class="col-md-3 col-xs-3 report_field_left">Hosts:</div>
            <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                <strong id="host_field"></strong>
            </div>
            <div class="col-md-3 col-xs-3 report_field_left">Become:</div>
            <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                <strong id="become_field"></strong>
            </div>
        </div>
    </div>
    <div class="col-md-12 report_field_left">Tasks:</div>
</div>
