<div>
    <div id="preferences_dialog" class="large_dialog">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <span>Preferences</span>
                    <button class="pull-right btn btn-default btn-xs">Restore defaults</button>
                </h3>
            </div>
        </div>
        <div id="preferences_container"></div>
    </div>
    <div id="restore_dialog" class="small_dialog text-center">
        <strong>Restore all preferences to default values?</strong>
    </div>
    <div id="header_template">
        <div class="row">
            <div class="col-md-4">
                <h4></h4>
            </div>
        </div>
    </div>
    <div id="item_template">
        <div class="row preference_item_row">
            <div class="col-md-4">
                <label class="item_label"></label>
            </div>
            <div class="input_container"></div>
            <div class="col-md-3">
                <label class="error_label text-danger"></label>
            </div>
        </div>
    </div>

    <div id="input_templates">
        <input class="form-control input-sm" type="text">
        <select class="select form-control input-sm">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </div>
</div>

