<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <span>Manager</span>
                    <div class="input-group">
                        <input data-bind="manager" class="form-control input-sm" type="text" title="Project manager" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm">
                                <span class="fa fa-fw fa-pencil"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>

