<div id="role_dialog" class="small_dialog">
    <div class="row">
        <div class="col-md-12">
            <label>
                <span>Role name</span>
                <input data-bind="new_name" class="form-control input-sm" type="text" style="margin-bottom: 10px;">
            </label>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="files" type="button" class="btn btn-default btn-sm btn-block">Files</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="defaults" data-main="true" type="button" class="btn btn-default btn-sm btn-block">Defaults</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="templates" type="button" class="btn btn-default btn-sm btn-block">Templates</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="vars" data-main="true" type="button" class="btn btn-default btn-sm btn-block">Vars</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="handlers" data-main="true" type="button" class="btn btn-default btn-sm btn-block">Handlers</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="tasks" data-main="true" type="button" class="btn btn-default btn-sm btn-block">Tasks</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button data-folder="meta" data-main="true" type="button" class="btn btn-default btn-sm btn-block">Meta</button>
            </div>
        </div>
    </div>
</div>

