<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4>Add user</h4>
            <div class="form-group">
                <label>
                    <span>Username</span>
                    <input data-bind="username" class="form-control input-sm" type="text">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <span>Password</span>
                    <input data-bind="password" class="form-control input-sm" type="password" autocomplete="new-password">
                </label>
            </div>
            <div class="form-group">
                <label>
                    <span>Retype password</span>
                    <input data-bind="retype_pass" class="form-control input-sm" type="password" autocomplete="new-password">
                </label>
            </div>
        </div>
    </div>
</div>