<div id="user_form_container">
    <div class="row">
        <div class="col-md-1 col-sm-1"><strong>Joined in:</strong></div>
        <div class="col-md-11 col-sm-11" data-bind="date_joined"></div>
        <div class="col-md-1 col-sm-1"><strong>Last login:</strong></div>
        <div class="col-md-11 col-sm-11" data-bind="last_login">&nbsp;</div>
        <div class="col-md-6"><br>
            <form id="user_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>First name</span>
                                <input class="form-control input-sm" type="text" data-bind="first_name">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>Last name</span>
                                <input class="form-control input-sm" type="text" data-bind="last_name">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>E-mail</span>
                                <input class="form-control input-sm" type="text" data-bind="email">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>Timezone</span>
                                <select data-bind="timezone" class="select form-control input-sm"></select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default btn-xs">Save</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <form id="password_form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>Current password (<span data-bind="current_user"></span>)</span>
                                <input class="form-control input-sm" type="password" autocomplete="new-password" data-bind="current_password">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>New password</span>
                                <input class="form-control input-sm" type="password" autocomplete="new-password" data-bind="new_password">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                <span>Retype new password</span>
                                <input class="form-control input-sm" type="password" autocomplete="new-password" data-bind="retype_pass">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default btn-xs">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>