{% extends 'main.html' %}
{% block content %}
    <h3>{{ view_user.username }} profile</h3>
    <hr>
    <div class="row">
        <div class="col-md-1"><strong>Joined in:</strong></div>
        <div class="col-md-5">{{ view_user.date_joined }}</div>
    </div>
    <div class="row">
        <div class="col-md-1"><strong>Last login:</strong></div>
        <div class="col-md-5">{{ view_user.last_login }}</div>
    </div>
    <br>
    {% include 'users/user_form.html' with page='view' %}
{% endblock %}