{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'runner/history.js' %}"></script>
    <h3>Runner history</h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table id="runner_table" class="result_table table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">created on</th>
                    <th class="col-md-2">user</th>
                    <th class="col-md-2">name</th>
                    <th class="col-md-3">hosts</th>
                    <th class="col-md-1">status</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}