<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap-3.3.5/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.10/css/dataTables.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'jQueryUI-1.11.4/jquery-ui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'jQuery-JSONView/jquery.jsonview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-fileinput-4.2.7/css/fileinput.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'jQuery-DynamicList-1.0.0/jquery.dynamiclist.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'jQuery-2.1.4/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'Bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jQueryUI-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'DataTables-1.10.10/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'DataTables-1.10.10/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'jQuery-JSONView/jquery.jsonview.js' %}"></script>
    <script src="{% static 'timezones-2.8.3/timezones.full.min.js' %}"></script>
    <script src="{% static 'jQuery-actual-1.0.17/jquery.actual.min.js' %}"></script>
    <script src="{% static 'bootstrap-fileinput-4.2.7/js/fileinput.min.js' %}"></script>
    <script src="{% static 'jQuery-DynamicList-1.0.0/jquery.dynamiclist.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/classes.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Battuta</title>
</head>
<body>
{% block header %}
    <header class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="{% url 'main' %}">Battuta</a></div>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory</a>
                        <ul class="dropdown-menu">
                            <li><a href=# class="open_entity" data-type="group">Groups</a></li>
                            <li><a href=# class="open_entity" data-type="host">Hosts</a></li>
                            <li class="divider"></li>
                            <li><a href=# id="import_data">Import</a></li>
                            <li><a href=# id="bulk_remove">Remove</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Runner</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'runner:adhoc' %}">Ad-Hoc</a></li>
                            <li><a href="{% url 'runner:playbooks' %}">Playbooks</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'runner:history' %}">History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                                <li><a href="{% url 'users:new' %}">New user</a></li>
                                <li><a href="{% url 'users:list' %}">List users</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'users:view' %}?user_id={{ user.id }}">User profile</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="tooltip" title="Settings">
                            <span class="glyphicon glyphicon-cog hidden"></span>
                        </a>
                    </li>
                    <li>
                        <form id="search_form" action="{% url 'search' %}" class="navbar-form" method="get">
                            <div class="input-group">
                                <input type="text" title="Search" id="searchbox"
                                       class="form-control input-sm" name="search_pattern">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <form id="login_form" class="navbar-form">
                            <button type="submit" id="user_login" title="Logout" class="btn btn-link">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form id="login_form" class="navbar-form">
                            <div id="div_id_username" class="form-group">
                                <label for="id_username" class="sr-only requiredField">Username</label>
                                <input class="textinput textInput form-control input-sm"
                                       id="id_username" placeholder="Username" type="text">
                            </div>
                            <div id="div_id_password" class="form-group">
                                <label for="id_password" class="sr-only requiredField">Password</label>
                                <input class="textinput textInput form-control input-sm"
                                       id="id_password" placeholder="Password" type="password">
                            </div>
                            <button type="submit" id="user_login" title="Login" class="btn btn-link">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
    </header>
{% endblock %}
<section class="container">
    <div class="row">
        <div class="col-md-12 main">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</footer>
<span style="visibility: hidden" id="get_length"></span>
<div class="hidden">
    <div id="import_dialog">
        <div class="text-center">
            <h5>Select inventory file</h5>
        </div>
        <br>
        <form id="import_form">
            <div class="form-group">
                <label for="import_file" class="requiredField sr-only">Select file</label>
                <input class="input-file" type="file" id="import_file">
            </div>
        </form>
    </div>
    <div id="delete_dialog" class="text-center"><strong>This action cannot be undone</strong></div>
    <div id="alert_dialog" class="text-center"></div>
    <div id="entity_dialog">
        <h5 id="entity_dialog_header" class="text-center"></h5>
        <hr>
        <form id="entity_form" method="post">
            <div id="div_id_name" class="form-group">
                <label for="id_name" class="requiredField">Name</label>
                <input class="textinput textInput form-control input-sm" id="id_name"
                       type="text" value="{{ entity.name }}">
            </div>
            <div id="div_id_description" class="form-group">
                <label for="id_description" class="requiredField">Description</label>
                <textarea class="textarea form-control input-sm" id="id_description">{{ entity.description }}</textarea>
            </div>
        </form>
    </div>
    <div id="select_dialog"></div>
    <div id="json_dialog">
        <pre id="json_box"></pre>
    </div>
    <div id="password_dialog">
        <br>
        <label for="user_password" class="user_pass_group"><span id="exec_user"></span> password</label>
        <input class="form-control input-sm user_pass_group" id="user_password" type="password">
        <br class="user_pass_group">
        <label for="sudo_password" class="sudo_pass_group">Sudo password
            <span class="user_pass_group">(defaults to user password)</span>
        </label>
        <input class="form-control input-sm sudo_pass_group" id="sudo_password" type="password">
    </div>
    <div id="pattern_dialog" class="text-center">
        <h5>Pattern builder</h5>
        <hr>
        <div class="row text-left pattern_editor_row">
            <div class="col-md-4 text-right">OR</div>
            <div class="col-md-3">
                <button class="btn btn-default btn-xs select_entities" data-type="group">Groups</button>
            </div>
            <div class="col-md-5">
                <button class="btn btn-default btn-xs select_entities" data-type="host">Hosts</button>
            </div>
        </div>
        <div class="row text-left pattern_editor_row">
            <div class="col-md-4 text-right">AND</div>
            <div class="col-md-3">
                <button class="btn btn-default btn-xs select_entities" data-type="group">Groups</button>
            </div>
            <div class="col-md-5">
                <button class="btn btn-default btn-xs select_entities" data-type="host">Hosts</button>
            </div>
        </div>
        <div class="row text-left pattern_editor_row">
            <div class="col-md-4 text-right">NOT</div>
            <div class="col-md-3">
                <button class="btn btn-default btn-xs select_entities" data-type="group">Groups</button
                ></div>
            <div class="col-md-5">
                <button class="btn btn-default btn-xs select_entities" data-type="host">Hosts</button>
            </div>
        </div>
        <br>
        <pre id="pattern_container" class="text-left hidden"></pre>
    </div>
    <div id="entity_type_dialog" class="text-center">
        <h5></h5>
        <br>
        <button class="btn btn-default btn-sm select_type" data-type="host">Hosts</button>
        &nbsp&nbsp&nbsp&nbsp
        <button class="btn btn-default btn-sm select_type" data-type="group">Groups</button>
    </div>
</div>
</body>
</html>
