{% load staticfiles %}
<script src="{% static 'js/ansible.js' %}"></script>
<script src="{% static 'runner/adhoc_form.js' %}"></script>
<h6 id="adhoc_form_label"><strong>Create task</strong></h6>
<form id="adhoc_form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="form-group">
                <label for="hosts" class="requiredField">Hosts</label>
                <div class="input-group">
                    <input class="form-control input-sm pattern-input" id="hosts" type="text">
                    <span class="input-group-btn">
                        <button id="pattern_editor" class="btn btn-default btn-sm" title="Build pattern">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-4">
            <div class="form-group">
                <label for="module" class="requiredField">Select module</label>
                <select class="select form-control input-sm" id="module">
                    <option value="" disabled selected hidden></option>
                </select>
            </div>
        </div>
    </div>
    <div id="optional_fields"></div>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <label for="credentials" class="requiredField">Select credentials</label>
            <select class="select form-control input-sm" id="credentials"></select>
        </div>
        <div class="col-md-2 col-xs-4" style="padding-top: 37px">
            <small id="module_reference" style="float: right; color: #777; display: none">module reference</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <button id="run_task" class="btn btn-default btn-xs">Run</button>
            <button id="save_tas" class="btn btn-default btn-xs">Save</button>
            <button id="cancel_task" class="btn btn-default btn-xs">Cancel</button>
        </div>
    </div>
</form>
<hr>
<h5>Tasks</h5>
<div class="row">
    <div class="col-md-12">
        <table id="adhoc_table" class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th class="col-md-2">hosts</th>
                <th class="col-md-2">module</th>
                <th class="col-md-6">arguments</th>
                <th class="col-md-1">sudo</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>


