{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/classes/AnsibleRunner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Credentials.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AdHocTaskTable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/SelectNodesDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AdHocTasks.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/PatternBuilder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/DeleteDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/NodeDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'runner/adhoc.js' %}"></script>
{% endblock %}
{% block content %}
    <h3>Ad-Hoc tasks</h3>
    <div class="row">
        <div id="command_form_container" class="col-md-12"></div>
        <div class="col-md-12"><hr></div>
        <div id="adhoc_table_container" class="col-md-12"></div>
    </div>
{% endblock %}