{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/classes/AnsibleModules.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/AnsibleRunner.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/Credentials.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/AdHocTaskTable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/SelectNodesDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/AdHocForm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/PatternBuilder.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classes/DeleteDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'runner/adhoc_form.js' %}"></script>
<h4>Run command</h4>
<div id="command_form_container"></div>
<hr>
<h4 style="margin-bottom: 30px">
    Saved Tasks
    <span style="float: right">
        <button id="create_task" class="btn btn-default btn-sm">Create task</button>
    </span>
</h4>
<div class="row">
    <div id="adhoc_table_container" class="col-md-12"></div>
</div>


