{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - AdHoc';

            new AdHocTasks(null, 'command', {id: null}, $('#command_form_container'));

            new AdHohTaskTable(null, $('#adhoc_table_container'));

        });
    </script>
{% endblock %}
{% block content %}
    <h3>Ad-Hoc tasks</h3>
    <div class="row">
        <div id="command_form_container" class="col-md-12"></div>
        <div class="col-md-12"><hr></div>
        <div id="adhoc_table_container" class="col-md-12"></div>
    </div>
{% endblock %}