{% extends 'main/main.html' %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/ansible_runner.js' %}"></script>
    <script type="text/javascript" src="{% static 'runner/history.js' %}"></script>
    <h3>Runner history</h3>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table id="runner_table" class="result_table table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">run date</th>
                    <th class="col-md-2">user</th>
                    <th class="col-md-2">name</th>
                    <th class="col-md-2">hosts/subset</th>
                    <th class="col-md-2">status</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}