{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            Job.getData({id: '{{ job_id }}'}, 'get', function (data) {

                new Job(data.job , $('#result_header'), $('#result_container'));

            })

        });
    </script>
{% endblock %}
{% block header %}
    <header id="result_header" class="navbar navbar-default navbar-fixed-top"></header>
{% endblock %}
{% block content %}
    <div id="result_container"></div>
{% endblock %}