{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            var job = new Job({id: '{{ job_id }}'})

            job.get(function (data) {

                document.title = data.job.name;

                $('#menu_container').html(job.header());

                $('#container').html(job.view());

            })

            // JobView.getData({id: }, 'get', function (data) {

            //    new JobView(data.job , $('#result_header'), $('#result_container'));

            //})

        });
    </script>
{% endblock %}
{% block content %}
    <div id="result_container"></div>
{% endblock %}