{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - Playbooks';

            function nameCellFormatter(cell, file) {

                cell.css('cursor', 'pointer');

                if (file.is_valid) cell.off().click(function () {

                    new PlaybookForm(file)

                });

                else cell.css('color', 'red').off().click(function () {

                    var message = preLargeAlert.clone().html(file.error);

                    $.bootstrapGrowl(message, Object.assign(failedAlertOptions, {width: 'auto', delay: 0}));

                })
            }

            var buttons = [
                btnXsmall.clone().html('New playbook').click(function () {

                    $.ajax({
                        url: '/static/templates/playbook_template.yml',
                        success: function (data) {

                            var file = {
                                name: '',
                                root: 'playbooks',
                                folder: playbookTable.getFolder(),
                                text: data,
                                user: '{{ user.username }}'
                            };

                            new TextEditor(file, function () {

                                playbookTable.reload()

                            })

                        }
                    });
                })
            ];

            var playbookTable = new FileTable('playbooks', null, nameCellFormatter, $('#playbook_table_container'));

            playbookTable.addButtons(buttons);

        });
    </script>
{% endblock %}
{% block content %}
    <h3>Playbooks</h3>
    <div id="playbook_table_container"></div>
{% endblock %}