{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - Playbooks';

            var playbookTable = new FileTable('playbooks', nameCellFormatter, $('#playbook_table_container'));

            var buttons = [
                smButton.clone().html('New playbook').click(function () {
                    $.ajax({
                        url: '/static/templates/playbook_template.yml',
                        success: function (data) {
                            var file = {name: '', root: 'playbooks', folder: playbookTable.getFolder(), text: data};
                            new TextEditor(file, function () {
                                playbookTable.reload()
                            })
                        }
                    });
                })
            ];

            playbookTable.addButtons(buttons);

            function nameCellFormatter(cell, file) {
                cell.css('cursor', 'pointer');

                if (file.is_valid) cell.off().click(function () {
                    new Playbook(file)
                });
                else cell.css('color', 'red').off().click(function () {
                    var message = preLargeAlert.clone().html(file.error);
                    $.bootstrapGrowl(message, Object.assign(failedAlertOptions, {width: 'auto', delay: 0}));
                })
            }
        });
    </script>
{% endblock %}
{% block content %}
    <h3>Playbooks</h3>
    <div class="row">
        <div id="playbook_table_container" class="col-md-12"></div>
    </div>
{% endblock %}