{% extends 'main/main.html' %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script type="text/javascript" src="{% static 'js/classes/NodeDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/TextEditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/PatternBuilder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/DeleteDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ansible_runner.js' %}"></script>
    <script type="text/javascript" src="{% static 'runner/playbooks.js' %}"></script>
    <h3>Playbooks</h3>
    <div class="row row-eq-height">
        <div class="col-md-6">
            <h4>
                <span>Playbook list</span>
                <span style="float: right">
                    <button id="new_playbook" class="btn btn-default btn-xs">New playbook</button>
                </span>
            </h4>
            <br>
            <table id="playbook_table" class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="col-md-12">name</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <hr class="visible-xs visible-sm medium">
            <div id="arguments_box">
                <div class="row row-eq-height">
                    <div class="col-md-9">
                        <h4><span id="arguments_box_header">&nbsp;</span></h4>
                    </div>
                    <div class="col-md-3 text-right" style="margin: auto">
                        <small id="become" class="hidden">requires sudo</small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="saved_arguments" class="requiredField">Saved arguments</label>
                        <select class="select form-control input-sm" id="saved_arguments"></select>
                    </div>
                </div>
                <br>
                <form id="arguments_form" method="post">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="subset-field" class="requiredField">Limit</label>
                                <div class="input-group">
                                    <input class="form-control input-sm " id="subset-field" type="text">
                                    <span class="input-group-btn">
                                        <button id="pattern_editor" class="btn btn-default btn-sm" title="Build pattern" type="button">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-right" style="margin-top: 23px">
                            <button id="check" class="btn btn-default btn-sm" data-action="check">Check</button>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tags" class="requiredField">Tags</label>
                                <input class="form-control input-sm" id="tags" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="skip_tags" class="requiredField">Skip tags</label>
                                <input class="form-control input-sm" id="skip_tags" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="extra_vars" class="requiredField">Extra vars</label>
                                <input class="form-control input-sm" id="extra_vars" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button id="save_args" class="btn btn-default btn-xs">Save</button>
                            <button id="delete_args" class="btn btn-default btn-xs hidden">Delete</button>
                        </div>
                    </div>
                </form>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="credentials" class="requiredField">Select credentials</label>
                        <select class="select form-control input-sm" id="credentials"></select>
                    </div>
                    <div class="col-md-6 text-right" style="margin-top: 22px">
                        <button id="run_playbook" class="btn btn-default btn-sm">Run</button>
                        <button id="cancel_run" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}