{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            document.title = 'Battuta - Roles';

            var fileTable = new FileTable('roles', null, null, $('#file_table_container'));

            var buttons = [
                btnXsmall.clone().html('Add role').click(function () {

                    new RoleDialog(fileTable, '{{ user.username }}')

                })
            ];

            fileTable.addButtons(buttons)

        });
    </script>
{% endblock %}
{% block content %}
    <h3>Roles</h3>
    <div id="file_table_container"></div>
{% endblock %}