html {overflow-y: scroll}

body {font-size: small}

header {font-size: 14px}

footer {height: 25px}

label {font-weight: 400; width: 100%}

h5 {font-size: 11pt; color: #525252}

th, h4 {color: #525252}

a, label, .glyphicon {color: #777}

a:focus, a:hover, button:focus {outline: none; text-decoration: none}

small.label_link {float: right; cursor: pointer}

.input[type="checkbox"] {margin: 10px 0 0 5px}

.chkbox_label {padding: 5px 20px 5px 5px; vertical-align: middle}

.report_field_left {padding: 0 0 0 15px}

.report_field_right {padding: 0 15px 0 0}

.reference_link {color: #777; float: right; cursor: pointer}

.jsonview li {margin: 3px 0 3px 0}

.well {word-break: break-all; margin-bottom: 0}

.runner_error_box {margin-top: 20px; color: red; font-size: 12px}


/* File manager path container *******/

#path_links.breadcrumb {margin-bottom: 0; line-height: 22px}

li.path_link, #root_path, #edit_path {cursor: pointer}

#root_path {font-weight: bold; font-style: italic;}

#edit_path {float: right}

#edit_path::before {content: ''}

#edit_path > span {padding: 2px 4px 5px 4px; border-radius: 3px;}

#path_input {border: none; padding: 0}


/* Pattern editor options ************/

#pattern_dialog div.col-md-2, #pattern_dialog div.col-md-8 {margin: 5px 0}

.pattern_editor_row div:first-of-type {text-align: right}

.pattern_editor_row {width: 95%; margin: 10px 0}


/* Navbar options ********************/

header.navbar button.btn-icon {background-color: #F8F8F8; border: transparent}

header.navbar button.btn-icon:hover {background-color: #e6e6e6}

header.navbar .dropdown-menu {font-size: small}


/* JQuery UI options *****************/

.ui-dialog-titlebar-close, .no_title .ui-dialog-titlebar  {display: none}

.ui-button-text {padding: 1px 1px; font-size: 12px; line-height: 1.5; border-radius: 3px}

.ui-widget button {font-size: 12px}

.ui-dialog {box-shadow: 0 0 20px #888888; border-radius: 5px; position: fixed}

.ui-widget-overlay {background: white; opacity: 0}


/* DataTables options ****************/

.table.dataTable { table-layout: fixed; border-bottom: 2px solid lightgrey}

.table.dataTable tbody > tr > td {
    vertical-align: middle;
    border-top: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pagination > li > a, .pagination > li > span {padding: 2px 6px}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: lightgrey;
    border-color: lightgrey;
}

.pagination > li > a, div.dataTables_length, div.dataTables_filter, div.dataTables_info {color: #777}

div.dataTables_length select.input-sm, div.dataTables_filter input.input-sm {height: 25px}

div.dataTables_length, div.dataTables_filter {height: 25px}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {font-family: FontAwesome, sans-serif}

table.dataTable thead th.sorting:after {content: "\f0dc"; color: transparent}
table.dataTable thead th.sorting_asc:after {content: "\f0de"}
table.dataTable thead th.sorting_desc:after {content: "\f0dd"}

tr.child_row {background-color: transparent !important}

.btn-incell {padding: 0 3px; cursor: pointer}

/* Checked button class options */
.checked_button, .checked_button:focus, .checked_button:hover {background-color: #cdcdcd}

/* Truncate text larger than container */
.truncate-text {text-overflow: ellipsis; white-space: nowrap; overflow: hidden}

/* Make all cell within row of equal height */
.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex}

/* Elements using Kanit font */
h3, h4, h5, label, th, small, ul.nav a, ul.pagination a, .chkbox_label,
.navbar, .report_field_left, .dataTables_info, #runner_status {font-family: "Kanit", sans-serif}

/* Elements using Actor font */
a.btn, button.btn, span.ui-button-text {font-family: "Actor", sans-serif;}

/* Elements using Helvetica font */
input, select, div.dynamic-item, div.report_field_right, div.form_group input, .ui-widget input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding for small dialogs*/
.small_dialog, #alert_dialog, #delete_dialog, #password_dialog {padding: 20px !important;}

/* JSON box options */
#json_box {
    background-color: transparent;
    border: none;
    font-size: small;
    overflow-y: auto;
    width: 660px;
    margin: 0 10px;
}