{% extends 'main/base.html' %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/models/BaseModel.js"></script>
    <script type="text/javascript" src="/static/js/models/AdHocTask.js"></script>
    <script type="text/javascript" src="/static/js/models/FileObj.js"></script>
    <script type="text/javascript" src="/static/js/models/UserGroup.js"></script>
    <script type="text/javascript" src="/static/js/models/Job.js"></script>
    <script type="text/javascript" src="/static/js/models/Node.js"></script>
    <script type="text/javascript" src="/static/js/models/Host.js"></script>
    <script type="text/javascript" src="/static/js/models/Group.js"></script>
    <script type="text/javascript" src="/static/js/models/Playbook.js"></script>
    <script type="text/javascript" src="/static/js/models/PlaybookArgs.js"></script>
    <script type="text/javascript" src="/static/js/models/Role.js"></script>
    <script type="text/javascript" src="/static/js/models/Preferences.js"></script>
    <script type="text/javascript" src="/static/js/models/User.js"></script>
    <script type="text/javascript" src="/static/js/models/Credential.js"></script>
    <script type="text/javascript" src="/static/js/models/Project.js"></script>
    <script type="text/javascript" src="/static/js/models/Variable.js"></script>
    <script type="text/javascript" src="/static/js/fragments/MainNavBar.js"></script>
    <script type="text/javascript" src="/static/js/fragments/EntityTable.js"></script>
    <script type="text/javascript" src="/static/js/fragments/PatternEditor.js"></script>
    <script type="text/javascript" src="/static/js/fragments/ModalBox.js"></script>
    <script type="text/javascript" src="/static/js/fragments/GridDialog.js"></script>
    <script type="text/javascript" src="/static/js/fragments/RelationGrid.js"></script>
    <script type="text/javascript" src="/static/js/views/InventoryManager.js"></script>
    <script type="text/javascript" src="/static/js/views/Runner.js"></script>
    <script type="text/javascript" src="/static/js/views/Search.js"></script>
    <script type="text/javascript" src="/static/js/views/Main.js"></script>
    <script type="text/javascript" src="/static/js/singletons/Router.js"></script>
    <script type="text/javascript" src="/static/js/singletons/Entities.js"></script>
    <script type="text/javascript">$(document).ready(() => new Main())</script>
{% endblock %}



