<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'components/jquery-ui/themes/base/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap-fileinput/css/fileinput.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/jquery-jsonview/dist/jquery.jsonview.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/jquery-dynagrid/jquery.dynagrid.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/plugins/jquery-bootstrap-growl/jquery.bootstrap-growl.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons/js/buttons.html5.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery-jsonview/dist/jquery.jsonview.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/js-yaml/dist/js-yaml.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/timezones/dist/timezones.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/ace-builds/src-min/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/blockUI/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery-bootstrap-growl/jquery.bootstrap-growl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery-dynagrid/jquery.dynagrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/extensions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/templates.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Battuta.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/AdHoc.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/FileObj.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/UserGroup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Runner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Job.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Node.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Playbook.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Preferences.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/User.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classes/Project.js' %}"></script>
    {% block navbar %}
        <script type="text/javascript">
            $(document).ready(function () {

                let battuta = new Battuta({username: '{{ user.username }}'});

                battuta.navBar('{% if user.is_authenticated %}True{% endif %}')

            })
        </script>
    {% endblock %}
    {% block scripts %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Battuta - An Ansible frontend">
    <meta name="author" content="Pedro Tonini">
    <title>Battuta</title>
</head>
<body>
    <header class="navbar navbar-default">
        <div id="navbar_container" class="container"></div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-12 main" id="content_container"></div>
        </div>
    </section>
</body>
</html>
