<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4>AdHoc task</h4>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="hosts">Hosts</label>
                <div id="pattern_field_group" class="input-group">
                    <input id="hosts" data-bind="hosts" class="form-control input-sm pattern_field" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" title="Build pattern" type="button">
                            <span class="fa fa-fw fa-pencil-alt"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="module_selector">
                    <span>Module</span>
                    <small>
                        <a id="module_reference_anchor" target="_blank">
                            <i class="fa fa-info-circle" title="Module reference"></i>
                        </a>
                    </small>
                </label>
                <select id="module_selector" class="select form-control input-sm"></select>
            </div>
        </div>
        <div class="col-md-12">
            <div id="module_arguments_container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="task_credentials_selector">Credentials</label>
                <select id="task_credentials_selector" class="select form-control input-sm" data-bind="cred"></select>
            </div>
        </div>
    </div>
</div>