<form>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="credentials_selector_label"></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>
                            <span>Title</span>
                            <input class="form-control input-sm" type="text" data-bind="cred.title">
                        </label>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <div class="form_group">
                        <label></label>
                        <button type="button" class="btn btn-default btn-sm" data-bind="cred.is_shared">Shared</button>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <div class="form_group">
                        <label></label>
                        <button type="button" class="btn btn-default btn-sm" data-bind="cred.is_default">Default</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>Username</span>
                            <input class="form-control input-sm" type="text" data-bind="cred.username">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>Password</span>
                            <div class="input-group">
                                <input class="form-control input-sm" type="password" autocomplete="new-password" data-bind="cred.password">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"  data-bind="cred.ask_pass">Ask</button>
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            <span>RSA key</span>
                            <textarea class="textarea form-control input-sm" data-bind="cred.rsa_key"></textarea>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>Sudo username</span>
                            <input class="form-control input-sm" type="text" data-bind="cred.sudo_user">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <span>Sudo password</span>
                            <div class="input-group">
                                <input class="form-control input-sm" type="password" autocomplete="new-password" data-bind="cred.sudo_pass">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" data-bind="cred.ask_sudo_pass">Ask</button>
                                </span>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-default btn-xs">Save</button>
                    <button class="btn btn-default btn-xs">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
