<div class="alert-box">
    <h5 class="text-center alert-warning">This action cannot be reversed. Continue?</h5>
    <br>
    <div class="text-right">
        <button class="cancel-button btn btn-default btn-icon" title="Cancel">
            <span class="fa fa-fw fa-times large-icon alert-icon"></span>
        </button>
        <button class="continue-button btn btn-default btn-icon" title="Continue">
            <span class="fa fa-fw fa-check large-icon alert-icon"></span>
        </button>
    </div>
</div>