<div class="row">
    <div class="col-md-12">
        <h3>
            <small data-bind="crud.type"></small>&nbsp;<span data-bind="name"></span>
            <small style="margin-left: 1rem;">
                <button id="edit_button" class="btn btn-default btn-xs btn-icon hidden" title="Edit">
                    <span class="fa fa-fw fa-pencil-alt medium-icon"></span>
                </button>
                <button id="delete_button" class="btn btn-default btn-xs btn-icon hidden" title="Delete">
                    <span class="fa fa-fw fa-trash-alt medium-icon" title="Delete"></span>
                </button>
            </small>
        </h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#info_tab">Info</a>
            </li>
        </ul>
        <div class="tab-content paper-card">
            <div class="tab-pane active" id="info_tab">
                <h4 data-bind="description"></h4>
                <div id="info_container"></div>
            </div>
        </div>
    </div>
</div>


