<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4>
                <label for="file_name" class="text-capitalize" data-bind="action"></label>
            </h4>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <input id="file_name" data-bind="new_name" class="form-control input-sm" type="text" value="">
                    <div class="input-group-btn">
                        <button id="is_folder" data-bind="is_folder" type="button" class="btn btn-default btn-sm" title="Folder">
                            <span class="fa fa-folder"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="cancel-button btn btn-default btn-icon" title="Cancel">
                <span class="fa fa-fw fa-times large-icon"></span>
            </button>
            <button class="confirm-button btn btn-default btn-icon" title="Confirm">
                <span class="fa fa-fw fa-check large-icon"></span>
            </button>
        </div>
    </div>
</div>

