<div class="row">
    <div class="col-md-12">
        <h3 data-bind="title"></h3>
    </div>
</div>
<div class="paper-card">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" id="path_links">
                <li id="root_path">&lt;root&gt;</li>
                <li id="edit_path"><span class="fa fa-fw fa-pencil-alt" title="Edit path"></span></li>
            </ol>
        </div>
        <div class="col-md-12 " style="margin-top: 2rem;">
            <table id="file_table" class="table table-condensed table-hover table-striped"></table>
        </div>
    </div>
</div>