<form>
    <div class="row">
        <div class="col-12 form-group">
            <label for="input-role-name">Role name</label>
            <input id="input-role-name" data-bind="new_name" class="form-control form-control-sm mb-1" type="text">
        </div>
        <div class="col-4">
            <button data-folder="files" type="button" class="btn btn-light btn-sm btn-block">Files</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="defaults" data-main="true" type="button" class="btn btn-light btn-sm btn-block">Defaults</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="templates" type="button" class="btn btn-light btn-sm btn-block">Templates</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="vars" data-main="true" type="button" class="btn btn-light btn-sm btn-block">Vars</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="handlers" data-main="true" type="button" class="btn btn-light btn-sm btn-block">Handlers</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="tasks" data-main="true" type="button" class="btn btn-light btn-sm btn-block">Tasks</button>
        </div>
        <div class="col-4 form-group">
            <button data-folder="meta" data-main="true" type="button" class="btn btn-light btn-sm btn-block">Meta</button>
        </div>
    </div>
</form>


