<form>
    <div class="row form-group">
        <div class="col-4">
            <label for="input-filename" >File name</label>
            <input id="input-filename" data-bind="new_name" class="form-control form-control-sm" type="text">
        </div>
        <div class="col-2 offset-6">
            <label for="mode-selector">Mode</label>
            <select id="mode-selector" class="select form-control form-control-sm"></select>
        </div>
    </div>
    <div class="row">
        <div class="col editor_column">
            <div id="editor_container" contenteditable="true" style="border: 1px solid lightgrey"></div>
        </div>
    </div>
</form>


