<form>
    <div class="row">
        <div class="col-4 my-2">
            <div class="form-group">
                <label>Manager</label>
                <div class="input-group">
                    <input data-bind="manager" class="form-control form-control-sm" type="text" title="Project manager" readonly>
                    <div class="input-group-append">
                        <button id="manager_button" class="btn btn-light btn-sm" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <h5>Members permissions</h5>
        </div>
        <div class="col-12">
            <h6>Inventory</h6>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Can edit variables</label>
                <div class="input-group">
                    <input data-bind="can_edit_variables" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_edit_variables" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_edit_variables" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h6>Runner</h6>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can run tasks</label>
                <div class="input-group">
                    <input data-bind="can_run_tasks" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_run_tasks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_run_tasks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can run playbooks</label>
                <div class="input-group">
                    <input data-bind="can_run_playbooks" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_run_playbooks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_run_playbooks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit roles</label>
                <div class="input-group">
                    <input data-bind="can_edit_roles" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_edit_roles" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_edit_roles" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit tasks</label>
                <div class="input-group">
                    <input data-bind="can_edit_tasks" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_edit_tasks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_edit_tasks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit playbooks</label>
                <div class="input-group">
                    <input data-bind="can_edit_playbooks" class="form-control form-control-sm" type="text" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_group" data-permission="can_edit_playbooks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_group" data-permission="can_edit_playbooks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

