<form>
    <div class="row">
        <div class="col-6 mb-2">
            <h4>Pattern builder</h4>
        </div>
        <div class="col-6 mb-2 text-right">
            <a href="http://docs.ansible.com/ansible/intro_patterns.html" target="_blank">patterns reference</a>
        </div>
        <div class="col-12 form-group">
            <label for="pattern_preview" class="sr-only">Pattern preview</label>
            <div class="input-group">
                <input id="pattern_preview" class="form-control form-control-sm" type="text">
                <div class="input-group-append">
                    <button class="clear-button btn btn-light btn-sm" type="button" title="Clear">
                        <span class="fas fa-fw fa-eraser"></span>
                    </button>
                    <button class="reload-button btn btn-light btn-sm" type="button" title="Reload">
                        <span class="fas fa-fw fa-sync-alt"></span>
                    </button>
                </div>
            </div>

        </div>
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link pattern-tab active" data-toggle="tab" href="#host-tab">Hosts</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link pattern-tab" data-toggle="tab" href="#group-tab">Groups</a>
                </li>
            </ul>
            <div class="tab-content mt-2">
                <div class="tab-pane in active" id="host-tab">
                    <div class="host-grid"></div>
                </div>
                <div class="tab-pane" id="group-tab">
                    <div class="group-grid"></div>
                </div>
            </div>
        </div>
    </div>
</form>