<form>
    <div class="row">
        <div class="col-12">
            <h5>AdHoc task</h5>
        </div>
        <div class="col-8 form-group">
            <label for="hosts">Hosts</label>
            <div id="pattern_field_group" class="input-group">
                <input id="hosts" data-bind="hosts" class="form-control form-control-sm pattern_field" type="text">
                <div class="input-group-append">
                    <button class="btn btn-light btn-sm" title="Build pattern" type="button">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 form-group">
            <label for="module_selector">
                <span>Module</span>
                <small>
                    <a id="module_reference_anchor" target="_blank">
                        <span class="fas fa-info-circle" title="Module reference"></span>
                    </a>
                </small>
            </label>
            <select id="module_selector" class="select form-control form-control-sm"></select>
        </div>
        <div class="col-12 module-arguments-container"> </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            <label for="task_credentials_selector">Credentials</label>
            <select id="task_credentials_selector" class="select form-control form-control-sm" data-bind="cred"></select>
        </div>
        <div id="buttons_container" class="col-6 form-group text-right align-self-end">
            <button id="close_task" class="btn btn-icon" title="Close" type="button">
                <span class="fas fa-fw fa-times"></span>
            </button>
            <button id="save_task" class="btn btn-icon" title="Save" type="button">
                <span class="fas fa-fw fa-save"></span>
            </button>
            <button id="run_task" class="btn btn-icon" title="Run" type="button">
                <span class="fas fa-fw fa-cogs"></span>
            </button>
          </div>
    </div>
</form>