<div class="row">
    <div class="main-info-column hide_when_empty col-5 mt-4">
        <div class="row no-gutters">
            <div class="col-4 item-label">Full hostname:</div>
            <div data-bind="facts.fqdn" class="col-8 item-value font-weight-bold text-truncate"></div>
            <div class="col-4 item-label">Processor:</div>
            <div class="col-8 item-value font-weight-bold text-truncate">
                <span data-bind="facts.processor.1"></span>&nbsp;
            </div>
            <div class="col-4 item-label">Cores:</div>
            <div data-bind="facts.processor_count" class="col-8 item-value font-weight-bold text-truncate"></div>
            <div class="col-4 item-label">RAM Memory</div>
            <div data-bind="facts.memtotal_mb" class="col-8 item-value font-weight-bold text-truncate"></div>
            <div class="col-4 item-label">System:</div>
            <div data-bind="facts.system" class="col-8 item-value font-weight-bold text-truncate"></div>
            <div class="col-4 item-label">OS:</div>
            <div class="col-8 item-value font-weight-bold text-truncate">
                <span data-bind="facts.distribution"></span>&nbsp;<span data-bind="facts.distribution_version"></span>
            </div>
            <div class="col-4 item-label">Date</div>
            <div class="col-8 item-value font-weight-bold text-truncate">
                <span data-bind="facts.date_time.date"></span>&nbsp;<span data-bind="facts.date_time.time"></span>&nbsp;<span data-bind="facts.date_time.tz"></span>
            </div>
        </div>
    </div>
    <div class="guest-info-column hide_when_empty col-5 mt-4">
        <div class="row no-gutters">
            <div class="col-4 item-label">EC2 hostname:</div>
            <div data-bind="facts.ec2_hostname" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">EC2 public address:</div>
            <div data-bind="facts.ec2_public_ipv4" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">EC2 instance type:</div>
            <div data-bind="facts.ec2_instance_type" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">EC2 instance id:</div>
            <div data-bind="facts.ec2_instance_id" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">EC2 avaliability zone:</div>
            <div data-bind="facts.ec2_placement_availability_zone" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
    </div>
    <div class="host-info-column hide_when_empty col-5 mt-4">
        <div class="row no-gutters">
            <div class="col-4 item-label">System vendor:</div>
            <div data-bind="facts.system_vendor" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">Product name:</div>
            <div data-bind="facts.product_name" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">Product serial:</div>
            <div data-bind="facts.product_serial" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4 item-label">Form factor:</div>
            <div data-bind="facts.form_factor" class="col-8 item-value font-weight-bold text-truncate"></div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <button id="show_networking" class="btn btn-icon hide_when_empty" title="Network">
            <span class="fas fa-fw fa-network-wired"></span>
        </button>
        <button id="show_storage" class="btn btn-icon hide_when_empty" title="Storage">
            <span class="fas fa-fw fa-hdd"></span>
        </button>
        <button id="show_facts" class="btn btn-icon hide_when_empty" title="Facts">
            <span class="fas fa-fw fa-clipboard"></span>
        </button>
        <button id="gather_facts" class="btn btn-icon" title="Update facts">
            <span class="fas fa-clipboard-list fa-fw"></span>
        </button>
    </div>
</div>

