<div>
    <div class="row hide_when_empty hidden">
        <div id="main_info_row" class="col-md-5">
            <div class="row">
                <div class="col-md-4 report_field_left">Full hostname:</div>
                <div data-bind="facts.fqdn" class="col-md-8 report_field_right truncate-text"></div>
                <div class="col-md-4 report_field_left">Processor:</div>
                <div class="col-md-8 report_field_right truncate-text">
                    <span data-bind="facts.processor.1"></span>&nbsp;
                </div>
                <div class="col-md-4 report_field_left">Cores:</div>
                <div data-bind="facts.processor_count" class="col-md-8 report_field_right truncate-text"></div>
                <div class="col-md-4 report_field_left">RAM Memory</div>
                <div data-bind="facts.memtotal_mb" class="col-md-8 report_field_right truncate-text"></div>
                <div class="col-md-4 report_field_left">System:</div>
                <div data-bind="facts.system" class="col-md-8 report_field_right truncate-text"></div>
                <div class="col-md-4 report_field_left">OS:</div>
                <div class="col-md-8 report_field_right truncate-text">
                    <span data-bind="facts.distribution"></span>&nbsp;<span data-bind="facts.distribution_version"></span>
                </div>
                <div class="col-md-4 report_field_left">Date</div>
                <div class="col-md-8 report_field_right truncate-text">
                    <span data-bind="facts.date_time.date"></span>&nbsp;<span data-bind="facts.date_time.time"></span>&nbsp;<span data-bind="facts.date_time.tz"></span>
                </div>
            </div>
        </div>
        <div id="guest_info_row" class="col-md-5">
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 hostname:</div>
                <div data-bind="facts.ec2_hostname" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 public address:</div>
                <div data-bind="facts.ec2_public_ipv4" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 instance type:</div>
                <div data-bind="facts.ec2_instance_type" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 instance id:</div>
                <div data-bind="facts.ec2_instance_id" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">EC2 avaliability zone:</div>
                <div data-bind="facts.ec2_placement_availability_zone" class="col-md-8 report_field_right truncate-text"></div>
            </div>
        </div>
        <div id="host_info_row" class="col-md-5">
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">System vendor:</div>
                <div data-bind="facts.system_vendor" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Product name:</div>
                <div data-bind="facts.product_name" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Product serial:</div>
                <div data-bind="facts.product_serial" class="col-md-8 report_field_right truncate-text"></div>
            </div>
            <div class="row row-eq-height">
                <div class="col-md-4 report_field_left">Form factor:</div>
                <div data-bind="facts.form_factor" class="col-md-8 report_field_right truncate-text"></div>
            </div>
        </div>
        <div class="col-md-10"><br></div>
    </div>
    <div class="row">
        <div class="col-md-10 hidden">
            <h5>Networking</h5>
            <table id="interface_table" class="table table-condensed table-hover table-striped"></table>
            <br>
            <h5>Storage</h5>
            <table id="storage_table" class="table table-condensed table-hover table-striped"></table>
            <br>
        </div>
        <div class="col-md-10">
            <div id="facts_buttons_container">
                <span class="hide_when_empty hidden">
                    <button id="show_networking" class="btn btn-default btn-xs">Networking</button>
                    <button id="show_storage" class="btn btn-default btn-xs">Storage</button>
                    <button id="show_facts" class="btn btn-default btn-xs">Facts</button>
                </span>
                <button id="gather_facts" class="btn btn-default btn-xs btn-icon" title="Update facts">
                    <span class="fa fa-clipboard-list fa-fw"></span>
                </button>
            </div>
        </div>
    </div>
</div>

