<div>
    <div class="navbar-header">
    <span class="navbar-brand">
        <span data-bind="name"></span>
        <small data-bind="status"></small>
        <span id="job_cog" class="fa fa-cog fa-spin fa-fw"></span>
    </span>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <button id="cancel_button" class="btn btn-link navbar-btn menu-btn" title="Cancel">
                <span class="fa fa-fw fa-times" style="color: rgb(255, 0, 0);"></span>
            </button>
        </li>
        <li>
            <button id="rerun_button" class="btn btn-link navbar-btn menu-btn" title="Execute job again">
                <span class="fa fa-fw fa-redo-alt"></span>
            </button>
        </li>
        <li>
            <button id="stats_button" class="btn btn-link navbar-btn menu-btn" title="Statistics">
                <span class="fa fa-fw fa-list"></span>
            </button>
        </li>
        <li>
            <button id="print_button" class="btn btn-link navbar-btn menu-btn" title="Print">
                <span class="fa fa-fw fa-print"></span>
            </button>
        </li>
        <li>
            <button id="scroll_button" data-bind="auto_scroll" class="btn btn-link navbar-btn menu-btn" title="Auto scroll">
                <span class="fa fa-fw fa-angle-double-down"></span>
            </button>
        </li>
    </ul>
</div>
