<div>
    <div class="job-container">
        <h4 class="visible-print-block">
            <strong data-bind="name"></strong>
        </h4>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">User:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text" style="font-weight: bold;" data-bind="username"></div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 playbook-only">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Subset:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text" style="font-weight: bold;" data-bind="subset"></div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 playbook-only">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Tags:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="tags"></strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-md-push-8 playbook-only">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Skip tags:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="skip_tags"></strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 playbook-only">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Extra vars:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="extra_vars"></strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 col-md-pull-8">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Check:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="check"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Run date:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong data-bind="created_on"></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-container inset-container scrollbar"></div>
    </div>
    <div class="play-container">
        <div class="row">
            <div class="col-md-12">
                <h4></h4>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="row">
                    <div class="col-md-3 col-xs-3 report_field_left">Hosts:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong id="host_field"></strong>
                    </div>
                    <div class="col-md-3 col-xs-3 report_field_left">Become:</div>
                    <div class="col-md-9 col-xs-9 report_field_right truncate-text">
                        <strong id="become_field"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-table-container paper-card">
        <div class="row">
            <div class="col-md-12 task-table-header">
                <strong></strong>
                <small class="visible-print-inline">&nbsp;(<span class="counter"></span>)</small>&nbsp;
                <span class="badge hidden-print counter"></span>
            </div>
        </div>
        <table class="table table-condensed table-hover table-striped" style="width: 100%"></table>
    </div>
</div>
