<div class="container">
    <a class="navbar-brand" href="/">Battuta</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <form id="login_form" class="navbar-form form-inline">
                <input class="form-control form-control-sm mr-1" type="text" placeholder="Username" data-bind="username">
                <input class="form-control form-control-sm mr-1" type="password" placeholder="Password" data-bind="password">
                <button class="btn btn-icon" title="Login">
                    <span class="fas fa-fw fa-sign-in-alt"></span>
                </button>
            </form>
        </li>
    </ul>
</div>