<div class="container">
    <a class="navbar-brand" href="/">Battuta</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a id="inventory-menu" class="nav-link" href="#" data-toggle="dropdown">Inventory</a>
            <div class="dropdown-menu" aria-labelledby="inventory-menu">
                <a href='#' class="dropdown-item" data-route="hosts">Hosts</a>
                <a href='#' class="dropdown-item" data-route="groups">Groups</a>
                <a href='#' class="dropdown-item" data-route="manage">Manage inventory</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a id="runner-menu" href="#" class="nav-link" data-toggle="dropdown">Runner</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" data-bind="/runner">Runner</a>
                <a class="dropdown-item" data-bind="/runner/job">Job history</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a id="files-menu" href="#" class="nav-link" data-toggle="dropdown">Files</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" data-route="repository">Repository</a>
                <a href="#" class="dropdown-item" data-route="playbooks">Playbooks</a>
                <a href="#" class="dropdown-item" data-route="roles">Roles</a>
                <a class="dropdown-item" data-bind="paths.selector.userFiles">User</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-route="projects">Projects</a>
        </li>
        <li class="nav-item dropdown">
            <a id="iam-menu" href="#" class="nav-link" data-toggle="dropdown">IAM</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" data-route="users">Users</a>
                <a href="#" class="dropdown-item" data-route="usergroups">Groups</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right mr-3">
        <li class="nav-item">
            <div class="input-group">
                <input class="form-control form-control-sm search-input" type="text" title="Search">
                <div class="input-group-append">
                    <button class="btn btn-light btn-sm search-button" type="button">
                        <span class="fas fa-fw fa-search"></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a href="#" class="nav-link preferences-link" title="Preferences">
                <span class="fas fa-fw fa-cog"></span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown">
                <span id="user_icon" class="fas fa-fw fa-user"></span>
            </a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item profile-link">Profile</a>
                <a href="#" class="dropdown-item logout-link">Logout</a>
            </div>
        </li>
    </ul>
</div>


