<div class="container">
    <a class="navbar-brand" href="/">Battuta</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <form class="navbar-form form-inline">
                <input class="form-control form-control-sm mr-1" type="text" placeholder="Username">
                <input class="form-control form-control-sm mr-1" type="password" placeholder="Password">
                <a href='#' class="login-button nav-link" title="Login">
                    <span class="fas fa-fw fa-sign-in-alt"></span>
                </a>
            </form>
        </li>
    </ul>
</div>