<div class="row">
    <div class="col-md-12">
        <h3 data-bind="type" style="text-transform: capitalize;"></h3>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#table_tab"><span class="fa fa-fw fa-list"></span></a>
            </li>
            <li>
                <a data-toggle="tab" href="#grid_tab"><span class="fa fa-fw fa-th"></span></a>
            </li>
        </ul>
        <div class="tab-content paper-card">
            <div class="tab-pane in active" id="table_tab">
                <table id="node_table" class="table table-condensed table-hover table-striped"></table>
            </div>
            <div class="tab-pane" id="grid_tab">
                <div id="node_grid"></div>
            </div>
            <br>
            <div class="tab-footer">
                <button id="download_button" class="btn btn-default btn-xs btn-icon" type="button">
                    <span class="fa fa-download" title="Download"></span>
                </button>
                <button id="facts_button" class="btn btn-default btn-xs btn-icon" type="button">
                    <span class="fa fa-clipboard-list" title="Gather facts"></span>
                </button>
                <button id="delete_button" class="btn btn-default btn-xs btn-icon" type="button">
                    <span class="fa fa-trash" title="Delete nodes"></span>
                </button>
            </div>
        </div>
    </div>
</div>
