<div class="small_dialog">
    <div id="username_form_group" class="form-group">
        <label>
            <span>Username</span>
            <input data-bind="remote_user" class="form-control input-sm" type="text">
        </label>
    </div>
    <div id="password_form_group" class="form-group">
        <label>
            <span>Password for user <i data-bind="remote_user"></i></span>
            <input data-bind="remote_pass" class="form-control input-sm" type="password" autocomplete="new-password">
        </label>
    </div>
    <div id="sudo_user_form_group" class="form-group">
        <label>
            <span>Sudo user</span>
            <input data-bind="become_user" class="form-control input-sm" type="text">
        </label>
    </div>
    <div id="sudo_pass_form_group" class="form-group">
        <label>
            <span>Sudo password (defaults to user)</span>
            <input data-bind="become_pass" class="form-control input-sm" type="password" autocomplete="new-password">
        </label>
    </div>
</div>