<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <span>Host group</span>
                    <div class="input-group">
                        <input data-bind="host_group" class="form-control input-sm" type="text" title="Host group" readonly>
                        <span class="input-group-btn">
                            <button id="host_group_button" class="btn btn-default btn-sm">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div id="descendants_container" class="col-md-12"></div>
    </div>
</div>

