<div>
    <div class="row">
        <div class="col-md-12">
            <h4>Inventory</h4>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can edit variables</span>
                    <div class="input-group">
                        <input data-bind="can_edit_variables" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_edit_variables">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_edit_variables">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Runner</h4>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can run tasks</span>
                    <div class="input-group">
                        <input data-bind="can_run_tasks" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_run_tasks">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_run_tasks">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can run playbooks</span>
                    <div class="input-group">
                        <input data-bind="can_run_playbooks" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_run_playbooks">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_run_playbooks">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can edit roles</span>
                    <div class="input-group">
                        <input data-bind="can_edit_roles" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_edit_roles">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_edit_roles">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can edit tasks</span>
                    <div class="input-group">
                        <input data-bind="can_edit_tasks" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_edit_tasks">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_edit_tasks">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    <span>Can edit playbooks</span>
                    <div class="input-group">
                        <input data-bind="can_edit_playbooks" class="form-control input-sm" type="text" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm set_group" data-permission="can_edit_playbooks">
                                <span class="fa fa-fw fa-pencil-alt"></span>
                            </button>
                            <button class="btn btn-default btn-sm clear_group" data-permission="can_edit_playbooks">
                                <span class="fa fa-fw fa-minus-circle"></span>
                            </button>
                        </span>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>