<div class="large_dialog">
    <div class="row">
        <div class="col-md-12">
            <h4 id="selection_title"></h4>
            <div id="selection_grid"></div>
        </div>
        <div class="col-md-12 text-right" style="margin-top: 20px">
            <button class="cancel-button btn btn-default btn-icon" title="Cancel">
                <span class="fa fa-fw fa-times large-icon"></span>
            </button>
            <button class="confirm-button btn btn-default btn-icon" title="Confirm">
                <span class="fa fa-fw fa-check large-icon"></span>
            </button>
        </div>
    </div>
</div>