<div class="row">
    <div class="col-12">
        <h4 data-bind="title"></h4>
    </div>
</div>
<div class="card shadow p-3">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="path_links">
                    <li class="breadcrumb-item" id="root_path">&lt;root&gt;</li>
                </ol>
                <button class="btn btn-icon" id="edit_path" title="Edit path">
                    <span class="fas fa-fw fa-pencil-alt"></span>
                </button>
            </nav>
        </div>
        <div class="col-12">
            <table id="file_table" class="table table-condensed table-hover table-striped"></table>
        </div>
    </div>
</div>