<form data-template="project-form">
    <div class="row my-4">
        <div class="col-4 form-group">
            <label>Manager</label>
            <div class="input-group">
                <input data-bind="manager" class="form-control form-control-sm" type="text" title="Project manager" readonly>
                <div class="input-group-append">
                    <button class="btn btn-light btn-sm set_property" data-property="manager" type="button">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                    <button class="btn btn-light btn-sm clear_property" data-property="manager" type="button">
                        <span class="fas fa-minus-circle"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 form-group">
            <label>Host group</label>
            <div class="input-group">
                <input data-bind="host_group" class="form-control form-control-sm" type="text" title="Host group" readonly>
                <div class="input-group-append">
                    <button class="btn btn-light btn-sm set_property" data-property="host_group" type="button">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                    <button class="btn btn-light btn-sm clear_property" data-property="host_group" type="button">
                        <span class="fas fa-minus-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <h5>Permissions</h5>
        </div>
        <div class="col-12">
            <h6>Inventory</h6>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Can edit variables</label>
                <div class="input-group">
                    <input data-bind="can_edit_variables" class="form-control form-control-sm" type="text" title="Can edit variables" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_edit_variables" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_edit_variables" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h6>Runner</h6>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can run tasks</label>
                <div class="input-group">
                    <input data-bind="can_run_tasks" class="form-control form-control-sm" type="text" title="Can run tasks" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_run_tasks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_run_tasks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can run playbooks</label>
                <div class="input-group">
                    <input data-bind="can_run_playbooks" class="form-control form-control-sm" type="text" title="Can run playbooks" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_run_playbooks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_run_playbooks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit roles</label>
                <div class="input-group">
                    <input data-bind="can_edit_roles" class="form-control form-control-sm" type="text" title="Can edit roles" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_edit_roles" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_edit_roles" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit tasks</label>
                <div class="input-group">
                    <input data-bind="can_edit_tasks" class="form-control form-control-sm" type="text" title="Can edit tasks" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_edit_tasks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_edit_tasks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Can edit playbooks</label>
                <div class="input-group">
                    <input data-bind="can_edit_playbooks" class="form-control form-control-sm" type="text" title="Can edit playbooks" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-light btn-sm set_property" data-property="can_edit_playbooks" type="button">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light btn-sm clear_property" data-property="can_edit_playbooks" type="button">
                            <span class="fas fa-minus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>