<form data-template="project-form">
    <div class="row my-4">
        <div class="col-12 mt-2">
            <label>Project manager</label>
        </div>
        <div class="col-3 mt-1">
            <h6 data-bind="manager"></h6>
        </div>
        <div class="col-9">
            <button class="btn btn-icon btn-sm set_property" data-property="manager" type="button" title="Edit">
                <span class="fas fa-pencil-alt "></span>
            </button>
            <button class="btn btn-icon btn-sm clear_property" data-property="manager" type="button" title="Remove">
                <span class="fas fa-minus-circle"></span>
            </button>
        </div>
        <div class="col-12 mt-2">
            <label>Host group</label>
        </div>
        <div class="col-3 mt-1">
            <h6 data-bind="host_group"></h6>
        </div>
        <div class="col-9">
            <button class="btn btn-icon btn-sm set_property" data-property="host_group" type="button" title="Edit">
                <span class="fas fa-pencil-alt "></span>
            </button>
            <button class="btn btn-icon btn-sm clear_property" data-property="host_group" type="button" title="Remove">
                <span class="fas fa-minus-circle"></span>
            </button>
        </div>
    </div>
</form>