<form data-template="user-form">
    <div class="form-group current-pass-input-container d-none">
        <label for="current-pass-input">Current password (<span class="current-user"></span>)</label>
        <input id="current-pass-input" class="form-control form-control-sm" type="password" data-bind="current_password">
    </div>
    <div class="form-group">
        <label for="username-input">Username</label>
        <input id="username-input" class="form-control form-control-sm" type="text" data-bind="username">
    </div>

    <div class="form-group">
        <label for="password-input">Password</label>
        <input id="password-input" class="form-control form-control-sm" type="password" data-bind="password">
    </div>
    <div class="form-group">
        <label for="retype-pass-input">Retype password</label>
        <input id="retype-pass-input" class="form-control form-control-sm" type="password">
    </div>
</form>

<form data-template="user-details-form">
    <div class="row no-gutters mb-4">
        <div class="col-1 item-label">Joined in:</div>
        <div class="col-11 item-value font-weight-bold" data-bind="date_joined"></div>
        <div class="col-1 item-label">Last login:</div>
        <div class="col-11 item-value font-weight-bold" data-bind="last_login"></div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12 form-group">
                    <label for="input-first-name">First name</label>
                    <input id="input-first-name" class="form-control form-control-sm" type="text" data-bind="first_name">
                </div>
                <div class="col-12 form-group">
                    <label for="input-last-name">Last name</label>
                    <input id="input-last-name" class="form-control form-control-sm" type="text" data-bind="last_name">
                </div>

                <div class="col-12 form-group">
                    <label for="input-email">E-mail</label>
                    <input id="input-email" class="form-control form-control-sm" type="email" data-bind="email">
                </div>
                <div class="col-12 form-group">
                    <label for="select-timezone">Timezone</label>
                    <select id="select-timezone" data-bind="timezone" class="select form-control form-control-sm"></select>
                </div>
                <div class="col-12 text-right">
                    <button class="save-button btn btn-icon" type="button" title="Save">
                        <span class="fas fa-fw fa-check"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>