<div>
    <div class="job-container">
        <h4 class="d-none d-print-block my-3">
            <strong data-bind="name"></strong>
        </h4>
        <div class="row">
            <div class="col-4">
                <div class="row no-gutters">
                    <div class="col-4 item-label">User:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="username"></div>
                </div>
            </div>
            <div class="col-4 playbook-only">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Subset:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="subset"></div>
                </div>
            </div>
            <div class="col-4 playbook-only">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Extra vars:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="extra_vars"></div>
                </div>
            </div>
            <div class="col-4 playbook-only">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Tags:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="tags"></div>
                </div>
            </div>
            <div class="col-4 playbook-only">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Skip tags:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="skip_tags"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Check:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="check"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Run date:</div>
                    <div class="col-8 item-value text-truncate font-weight-bold" data-bind="created_on"></div>
                </div>
            </div>
        </div>
        <div class="result-container inset-container scrollbar my-2"></div>
        <div class="statistics-container"></div>
    </div>
    <div class="play-container">
        <div class="row">
            <div class="col-12">
                <h4></h4>
            </div>
            <div class="col-4">
                <div class="row no-gutters">
                    <div class="col-4 item-label">Hosts:</div>
                    <div id="host_field" class="col-8 item-value text-truncate font-weight-bold"></div>
                    <div class="col-4 item-label">Become:</div>
                    <div id="become_field" class="col-8 item-value text-truncate font-weight-bold"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-table-container card shadow my-2 p-3">
        <div class="row">
            <div class="col-12 task-table-header">
                <strong></strong>
                <small class="d-none d-print-block">&nbsp;(<span class="counter"></span>)</small>&nbsp;
                <span class="badge badge-pill badge-secondary d-print-none counter"></span>
            </div>
        </div>
        <table class="table table-condensed table-hover table-striped"></table>
    </div>
</div>
