{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'inventory/entity.js' %}"></script>
    <h3>
        <small><span id="entity_type">{{ entity.type }}</span></small>
        <span id="entity_name">{{ entity.name }}</span>
    </h3>
    <ul id="entity_tabs" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#relationships_tab">Relationships</a></li>
        <li><a data-toggle="tab" href="#variables_tab">Variables</a></li>
        <li><a data-toggle="tab" href="#adhoc_tab">Ad-Hoc</a></li>
        <li><a data-toggle="tab" href="#details_tab">Details</a></li>
    </ul>
    <br>
    <div class="tab-content">
        <div id="relationships_tab" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-12">
                    <h4>Relationships</h4>
                    {% for relation in entity.relations %}
                        <div class="relation_div" data-relation="{{ relation }}"></div>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
        <div id="variables_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <h4>Variables</h4>
                    <hr>
                    <h5>{{ entity.type|title }} variables</h5>
                    <table id="variable_table" class="table table-condensed table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-3">key</th>
                            <th class="col-md-7">value</th>
                            <th class="col-md-2">&nbsp;</th>
                        </tr>
                        </thead>
                    </table>
                    <br>
                    <strong id="var_form_label">Add variable</strong>
                    <form id="variable_form" class="form-inline" method="post">
                        <input type="hidden" id="variable_id" value="{{ variable_id }}">
                        <div class="form-group">
                            <label for="key" class="sr-only requiredField">Key</label>
                            <input class="textinput textInput form-control input-sm"
                                   id="key" placeholder="Key" type="text">
                        </div>
                        <div class="form-group">
                            <label for="value" class="sr-only requiredField">Value</label>
                            <input class="textinput textInput form-control input-sm"
                                   id="value" placeholder="Value" type="text">
                        </div>
                        <button type="submit" id="save_variable" class="btn btn-default btn-sm">Save</button>
                    </form>
                    {% if entity.name != 'all' %}
                        <hr>
                        <h5>Inherited variables</h5>
                        <table id="inh_var_table" class="table table-condensed table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-3">key</th>
                                <th class="col-md-7">value</th>
                                <th class="col-md-2">group</th>
                            </tr>
                            </thead>
                        </table>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
        <div id="adhoc_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <h4>Ad-Hoc commands</h4>
                    <hr>
                    {% include 'runner/adhoc_form.html' with app='inventory' %}
                </div>
            </div>
        </div>
        <div id="details_tab" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ entity.type|title }} details</h4><hr>
                    <h5>Description</h5>
                    <div id="entity_description">{{ entity.description }}</div>
                    <br>
                    <a href="#" data-toggle="tooltip" title="Edit {{ entity.type }}" class="open_entity_form">
                        <span class="glyphicon glyphicon-edit glyph_button"></span>
                    </a>
                    <a href="#" id="delete_entity" data-toggle="tooltip" title="Delete">
                        <span class="glyphicon glyphicon-remove-circle glyph_button"></span>
                    </a>
                    <br><br>
                    {% if entity.type == 'host' %}
                        <a class="btn btn-default btn-xs" id="open_facts">View facts</a>
                    {% endif %}
                    <a class="btn btn-default btn-xs" id="gather_facts">Gather facts</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}